@import 'src/components/ui/colors.less';

.heading {
  border-bottom: 0 !important;
  margin-bottom: 0;
}

.paragraph {
  font-size: 14px !important;
  color: @fr-colors-v2-gray-6;
  padding-bottom: 4px;
  border-bottom: none !important;
}

.root {
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 16px;
}

.row {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
