@import 'src/components/ui/colors.less';
@import 'src/components/ui/Card/vars';

.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: @v-padding @h-padding;
  width: fit-content;
}

.noData {
  display: flex;
  justify-content: center;
}
