@import 'src/components/ui/colors.less';

.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.logicSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.logicSectionBody {
  background-color: @fr-colors-v2-card-background;
  border-radius: 4px;
  padding: 12px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
