@import '../../../../components/ui/colors.less';

.heading {
  border-bottom: 0 !important;
}

.paragraph {
  font-size: 14px !important;
  color: @fr-colors-v2-gray-6;
  padding-bottom: 16px;
}

:global {
  .root-settings {
    background-color: @fr-colors-v2-gray-12;
  }

  .ant-card-body:has(.root-settings) {
    background-color: @fr-colors-v2-gray-12;
  }
}

.cardRootEmpty {
  border: 0 !important;
  width: 100%;
  min-height: calc(100vh - 280px);
  display: flex;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  .headingEmptyContainer {
    justify-content: center;
    border: 0 !important;
  }

  .headingEmpty {
    font-size: 18px !important;
    padding-bottom: 4px;
  }

  .headingEmptyParagraphContainer,
  .buttonContainer {
    justify-content: center;
    border: 0 !important;
  }

  .paragraphEmpty {
    font-size: 14px !important;
    color: @fr-colors-v2-gray-6;
    padding-bottom: 16px;
    text-align: center;
  }

  .textAreaContainer {
    margin-top: 24px;
  }
}

.actions {
  display: flex;
  gap: 8px;
}

.cardRoot {
  border: 0 !important;
}
