@import 'src/components/ui/colors';
@import 'src/components/ui/animation';
@import 'src/components/ui/z-indexes';

.tagWrapper {
  display: inline-flex;
  overflow: hidden;

  &.isDisabled {
    opacity: 0.2;
  }
}
