@import 'src/components/ui/colors.less';
@import 'src/components/ui/Card/vars';

.header,
.root {
  flex: 0;
}

.title {
  flex: 1;
}

.row {
  display: flex;
  flex: 0;
}

.cell {
  flex: 1;
  word-wrap: break-word;
  min-width: 0;
  padding: 0 16px;
}

.root {
  overflow-y: auto;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px 0;
  box-sizing: border-box;
}
