@import '../../../../components/ui/colors.less';

.fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 28px;
}

.title {
  font-weight: 700;
}

.titleSearch {
  margin-left: auto;
}

.titleHeader {
  width: 100%;
  display: flex;
  gap: 10px;
  border-bottom: solid 1px @fr-colors-v2-gray-3;
  padding-bottom: 16px;
}

.merchantDetails {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  gap: 16px 28px;
}

.lastUpdated {
  color: @fr-colors-v2-gray-6;
  font-size: 12px;
  margin-top: 5px;
}

.section {
  padding: 0;
  border-bottom: solid 1px @fr-colors-v2-gray-3;
}

.sectionHeader {
  display: flex;
}

.logo {
  display: flex;
}

.scrapeLink {
  margin-top: 20px;
  margin-left: 8px;

  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.sectionActions {
  margin-left: auto;
  display: flex;
  flex-direction: column;

  .buttonGroup {
    display: flex;
    gap: 10px;
  }
}

.summary {
  padding: 1rem;
  background-color: @fr-colors-v2-unknown-1;
  height: fit-content;
}

.summary h3 {
  font-weight: 700;
  font-size: 16px;
}
.form {
  margin-bottom: 10px;
}
