@import 'src/components/ui/colors';
@import 'src/components/ui/z-indexes';

.root {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(255, 255, 255, 0.96);
  color: @fr-colors-v2-gray-10;
  font-weight: 600;
}
