@import 'src/components/ui/colors.less';

.dayRangeRoot {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  columns: 1fr 1fr;
}
.dayRangeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dayRangeInputContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
