@import '~antd/es/style/themes/default.less';

.root {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.status {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.risks {
  display: flex;
  gap: 12px;
}
