@import 'src/components/ui/colors.less';
@import 'src/components/ui/animation.less';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 20px;
  min-width: 165px;
  border-radius: 8px;
  background: @fr-colors-v2-unknown-1;
}

.title {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 14px;
  white-space: nowrap;
  color: @fr-colors-navyBlue;
}

.icon {
  color: @fr-colors-navyBlue;
  width: 16px;
  height: 16px;
}

.value {
  display: flex;
}
