@import 'src/components/ui/colors.less';

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: @figma-vars--primitives-primaryBlueTints50;
  border-radius: 4px;
  padding: 12px;
  max-width: 400px;
}

.title {
  color: @figma-vars--primitives-pGrays900;
}
