@import 'src/components/ui/colors.less';

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: @fr-colors-v2-highlight-flagrightBlue;
  border-radius: 4px;
  padding: 12px;
  max-width: 400px;
}

.title {
  color: @fr-colors-v2-gray-6;
}
