@import 'src/components/ui/animation';

.logo {
  position: relative;

  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity @default-animation-speed;
    color: white;

    &.isVisible {
      opacity: 1;
    }
  }
}
