.root {
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.settingsRow {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.radioGroup {
  display: flex;
  gap: 26px;
}
