@import 'src/components/ui/colors.less';
@import 'src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/Chart/variables.less';

.root {
  position: absolute;
  font-size: 14px;
  color: @fr-colors-purpleGray;
  font-weight: 600;
  text-align: center;
}
