.icon {
  height: 20px;
  width: 17px;
  margin-right: 7px !important;
}

.row {
  align-items: center;
  margin: 15px;
  height: 30px;
  border-bottom: none !important;
}

.inner {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 7px !important;
}

.outer {
  width: 200px;
  border-right: 1px solid #dfe6f2;
}

.all {
  display: flex;
  flex-direction: row;
  position: relative;
  border-top: 1px solid #dfe6f2;
}

.limit {
  width: 100px;
  border-right: 1px solid #dfe6f2;
  text-align: center;
}
