@import 'src/components/ui/colors.less';

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  gap: 16px;
  justify-content: space-between;

  > * {
    max-width: 250px;
  }
}

.subtitle {
  font-weight: 600;
}

.logicAndSummary {
  display: flex;
  gap: 32px;
}

.logicBuilder {
  flex: 1;
  min-width: 400px;
}
