@import 'src/components/ui/colors.less';

.address {
  width: 430px;
  left: 40px;
}

.all {
  width: 700px;
}

.section {
  border-right: 1px solid #dfe6f2;
}

.contact {
  border-right: 1px solid #dfe6f2;
  width: 430px;
  left: 40px;
}

.border {
  border-bottom: none !important;
}
