@import 'src/components/ui/colors';

.root {
  padding: 4px 12px !important;
  border: none !important;
  cursor: pointer;
  align-items: flex-start !important;

  &:hover {
    background: @fr-colors-brandBlueTint;
  }

  &.isActive {
    .userName {
      color: @fr-colors-brandBlue;
    }
  }
}

.meta {
  margin-right: 1rem;
}

.id {
  display: inline-block;
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.activeIcon {
  width: 16px;
  color: @fr-colors-v2-primary-flagrightBlue;
}
