.customHeading {
  border: none;
  font-weight: bold;
}

.weightInputRoot {
  display: flex;
  gap: 20px;
  border-top: 0;
}

.algorithmsContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 0 !important ;
}

.customContainer {
  border: 0 !important;
}
