@import 'src/components/ui/colors';

.icon {
  display: flex;
  width: 14px;
  height: 14px;
  color: #000;
}

.tag {
  :global {
    .ant-tag {
      color: @fr-colors-gray-2;
      margin-left: 5px;
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }
}
