.settingsDrawerRoot {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settingsDrawerGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.groupTitle {
  font-size: 16px;
  font-weight: 600;
}
