@import '~antd/es/style/themes/default.less';

.root {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.fields {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr 1fr;
  gap: 16px 28px;
  width: 100%;
}

.ant-collapse-header,
.ant-collapse-header-text {
  width: 100% !important;
}
