.root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 64px;
  row-gap: 16px;
  flex-direction: row;
}

.divider {
  margin: 8px 0 0 0 !important;
  height: 1px;
  background-color: rgba(5, 5, 5, 0.06);
  border: 0;
}
