.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
