:root {
  .toastui-editor-contents {
    font-family: 'Noto Sans';
    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }

    h1,
    h2 {
      border: none;
    }

    h1,
    h2,
    h3 {
      padding: 0;
    }

    p,
    ul,
    ol {
      margin-top: 1.1em;
    }

    ul,
    ol {
      li {
        margin-top: 0.7em;
      }
    }
  }
}
