@import 'src/components/ui/colors';

.root {
  margin-bottom: 24px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  display: flex;
}

.description {
  color: @fr-colors-v2-gray-6;
  line-height: 24px;
}

.icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  line-height: 34px;
  margin-left: 3px;
}
