@import 'src/components/ui/colors';

.subtitle {
  padding: 8px 12px;
  color: @fr-colors-brandBlue;
  font-weight: 600;
  font-size: 12px;
}

.nothingFound {
  padding: 8px 12px;
  color: @fr-colors-purpleGray;
  text-align: center;
  font-size: 12px;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
