@import 'src/components/ui/colors.less';

.crmSettings {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 16px;
}

.crmSettingsButton {
  width: fit-content;
  border: 1px solid @fr-colors-v2-highlight-stroke;
  border-radius: 8px;
  padding: 8px;
}

.crmSettingsItem {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid @fr-colors-v2-highlight-stroke;
  border-radius: 8px;
  padding: 8px;
  width: fit-content;
}

.crmSettingsItemIcon {
  width: 24px;
  height: 24px;
}
