.timeWindow {
  grid-column: span 2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  button {
    width: 135px;
  }
}
.label {
  margin-left: 16px;
}
.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.editVariableIcon {
  pointer-events: auto;
}
