@import 'src/components/ui/colors';

.timeWindow {
  grid-column: span 2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  button {
    width: 135px;
  }
}
.label {
  margin-left: 16px;
}
.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.editVariableIcon {
  pointer-events: auto;
}

.tooltip {
  color: @fr-colors-brandBlue;
  cursor: pointer;
}

.option {
  display: flex;
  flex-direction: column;
}

.optionLabel {
  display: flex;
  gap: 8px;
}

.tag,
.tags {
  display: flex;
  gap: 4px;
  align-items: center;
}

.optionHeader {
  font-weight: 700;
}

.optionDescription {
  font-size: 12px;
  color: @fr-colors-v2-gray-6;
}

.checkBox {
  display: grid;
  grid-column: span 2;
  gap: 8px;
  align-items: center;
  grid-template-columns: auto 1fr;
}
