@import 'src/components/ui/colors';

.tablePadding {
  :global {
    .ant-pro-card-body {
      padding: 0 !important;
    }
  }
}

.idColumn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
