@import 'src/components/ui/colors.less';

.root {
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: white;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 600;
}

.brainIcon {
  width: 16px;
  cursor: pointer;
}
