@import 'src/components/ui/colors';

.root {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkboxItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.buttons {
  display: flex;
  gap: 1rem;
}
