.root {
  display: flex;
}

.apiText {
  word-break: break-all;
}

.iconsRoot {
  margin-left: 8px;
  margin-right: 8px;
  height: 100%;
  width: 16px;
  cursor: pointer;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
