.email {
  font-family: 'Noto Sans';
  font-weight: 400;
  line-height: 24px;
  size: 14px;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 2px;
  border-bottom: none !important;
}

.fax,
.phone {
  border-bottom: none !important;

  .text {
    color: black;
    font-family: 'Noto Sans';
    font-weight: 400;
    line-height: 24px;
    size: 14px;
  }
}

.maxWidth {
  width: 100%;
  height: 48px;
}

.textArea {
  height: 100% !important;
}

.casePriority {
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.samplingId {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}
