.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;

  > * {
    flex-grow: 0;
  }
}

.comment {
  position: relative;
}

.commentBox {
  height: 250px;
}

.infoDiv {
  margin-top: 0.5rem;
}
