@import 'src/components/ui/colors';

.table {
  margin: 0 !important;

  thead tr:not(:last-child) th {
    border-bottom: 1px solid #f0f0f0 !important;
  }

  tbody td {
    vertical-align: top;
  }

  :global {
    .ant-pro-card-body {
      padding: 0;
    }
    .ant-table-expanded-row > td {
      background: white;
    }
  }
}

.expandedRow {
  padding: 12px;
}

.all {
  color: black;
  font-family: 'Noto Sans';
  font-weight: 400;
  line-height: 24px;
  size: 14px;
}

.mail {
  font-family: 'Noto Sans';
  font-weight: 400;
  line-height: 24px;
  size: 14px;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 2px;
  border-bottom: none !important;
}

.icon {
  height: 13px;
  width: 13px;
  color: @fr-colors-brandBlue;
  position: relative;
  margin-left: 6px;
}

.below {
  border-bottom: none !important;
}
