.table {
  margin: 0 !important;

  thead tr:not(:last-child) th {
    border-bottom: 1px solid #f0f0f0 !important;
  }

  tbody td {
    vertical-align: top;
  }

  :global {
    .ant-pro-card-body {
      padding: 0;
    }
    .ant-table-expanded-row > td {
      background: white;
    }
  }
}

.expandedRow {
  padding: 12px;
}
