@import 'src/components/ui/colors.less';

.root {
  &,
  &.type-BUSINESS {
    background-color: @fr-colors-skyBlueTint;
    border-color: @fr-colors-skyBlue;
  }

  &.type-CONSUMER {
    background-color: #fff4e5;
    border-color: #f6a429;
  }
}
