.commentEditor {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.commentEditorInput {
  display: flex;
  align-items: center;
  flex: 1;
}

.commentEditorActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
