.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.header {
  display: flex;
  gap: 20px;
}
.craScore {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.DRSheader {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.DRSFormula {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
