@import 'src/components/ui/colors';

.root {
}

.subtitle {
  color: @fr-colors-purpleGray;
}

.gray {
  background: @fr-colors-brandBlueTint;
}

.insights {
  > * {
    flex-basis: 50%;
  }
}

.icon {
  width: 18px;
}
