.header {
  display: flex;
  flex-direction: row;
  margin-top: -5px;
  gap: 10px;

  .inputGroup {
    width: 60px;
  }

  .maxMinDisplay {
    margin-top: 5px;
  }
}

.title {
  color: grey;
  font-size: 12px;
  margin-right: 50px;
}
