.header {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;

  .inputGroup {
    width: 80px;
    flex-shrink: 0;
  }

  .maxMinDisplay {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.title {
  color: grey;
  font-size: 12px;
  margin-right: 50px;
}
