.tabsRoot {
  :global {
    .ant-tabs-nav {
      color: #fff !important;
    }

    .ant-tabs-tab-btn {
      color: #fff !important;
    }

    > .ant-tabs-nav::before {
      border-bottom: 0 !important;
    }

    > .ant-tabs-nav .ant-tabs-ink-bar {
      background: white;
      border: 1px solid rgba(255, 255, 255, 0.85);
    }
  }
}
