@import 'src/components/ui/colors';

.root {
  border: 1px solid @fr-colors-v2-gray-2;
  border-radius: 6px;
  min-height: 40px;
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;
  padding: 0 8px;
  gap: 8px;

  &.isDisabled {
    border-color: @figma-vars--tokens-colorBackgroundDisabled;
    background: @figma-vars--tokens-colorBackgroundDisabled;
    pointer-events: none;
  }

  &:focus {
    border-color: blue;
  }

  :global {
    .ant-popover {
      width: 115px;
    }
    .ant-list-items {
      width: 115px;
    }
    div[class*='contentBody'] {
      min-width: 115px;
      width: 115px;
    }
  }
}

.input {
  border: none;
  outline: none;
  background: transparent;
}

.icon {
  width: 16px;
  height: 16px;
}

.rightIcon,
.leftIcon {
  color: @fr-colors-v2-gray-6;
  cursor: pointer;
}

.icons {
  display: flex;
  gap: 8px;
  flex-direction: row;
}
