@import '../ui/colors.less';
@collapsed-menu-width: 80px;
@open-menu-width: 250px;

:root {
  .root {
    min-height: 100vh;
    background: @fr-colors-Purple-NavyBlue;

    &.isCollapsed {
      .aside {
        width: @collapsed-menu-width;
      }
      .main {
        padding-left: @collapsed-menu-width;
      }
    }
    
  }

  .header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 48px;
    padding: 0 16px;
    overflow: auto;
    color: #fff;
    background: @fr-colors-brandBlue;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  }

  .aside {
    position: fixed;
    top: 48px;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: @open-menu-width;
    height: calc(100vh - 48px);
    transition: width 300ms;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
  }

  .main {
    padding-top: 48px;
    padding-left: @open-menu-width;
    transition: padding-left 300ms;
  }

  .footer{
    background: none;
    :global{
      .ant-pro-global-footer-copyright{
        color: #fff;
        opacity: 45%;
      }
      .ant-pro-global-footer{
        padding-bottom: 40px !important;
      }
    }
  }

}
