@import '../ui/colors.less';
@collapsed-menu-width: 80px;
@open-menu-width: 250px;

// header z-index shouldn't be greater than 1000 as it's the z-index of modal and drawer
@header-z-index: 999;
// popover should be lower than header
@popover-z-index: 998;

:root {
  .root {
    min-height: 100vh;
    background: @fr-colors-Purple-NavyBlue;

    &.isCollapsed {
      .aside {
        width: @collapsed-menu-width;
      }
      .main {
        padding-left: @collapsed-menu-width;
      }
    }
  }

  .header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: @header-z-index;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 48px;
    padding: 0 16px;
    overflow: auto;
    color: #fff;
    background: @fr-colors-brandBlue;
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
  }

  .aside {
    position: fixed;
    top: 48px;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: @open-menu-width;
    height: calc(100vh - 48px);
    transition: width 300ms;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 48px;
    padding-left: @open-menu-width;
    transition: padding-left 300ms;
  }

  .footer {
    background: none;
    :global {
      .ant-pro-global-footer-copyright {
        color: #fff;
        opacity: 45%;
      }
      .ant-pro-global-footer {
        padding-bottom: 40px !important;
      }
    }
  }
}

:global {
  .ant-popover {
    z-index: @popover-z-index !important;
  }
}
