@import 'src/components/ui/colors';

.root {
  background: @fr-colors-v2-highlight-flagrightBlue;
  border-color: @fr-colors-v2-highlight-stroke;

  &.tooManyHits {
    background: @fr-colors-v2-risk-level-bg-very-high;
    border-color: @fr-colors-v2-risk-level-base-very-high;
  }
}

.icon {
  color: #000;
}
