@import 'src/components/ui/colors';

.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.textRoot {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}

.icon {
  width: 48px;
  height: 48px;
  color: @fr-colors-v2-primary-flagrightBlue;
}

.title1 {
  font-size: 14px;
  line-height: 24px;
  margin-top: 16px;
}

.title2 {
  color: @fr-colors-v2-gray-6;
  font-size: 14px;
  line-height: 24px;
  margin-top: 4px;
}
