@import 'src/components/ui/colors';

.root {
  border: 1px solid @fr-colors-v2-gray-2;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  padding: 12px;
}

.expandIcon {
  margin: 2px;
}

.title {
  display: flex;
  gap: 8px;
  align-items: center;
}

.countries {
  display: flex;
  gap: 4px;
}

.listedTime {
  color: @fr-colors-v2-gray-6;
}

.children {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
