@import 'src/components/ui/colors.less';

.root {
  display: flex;
}

.body {
  border: 1px solid @fr-colors-v2-highlight-stroke;
  background: @fr-colors-v2-highlight-flagrightBlue;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 10px;
  line-height: 12px;
}
