@import 'src/components/ui/colors';
@import 'src/components/ui/z-indexes';

.root {
  flex: 1;

  &:first-child {
    :global {
      > .ant-tabs-nav {
        padding-top: 0;
      }
    }
  }

  &.isSticky {
    :global {
      > .ant-tabs-nav {
        position: sticky !important;
        background: @fr-global-bg-color;
        z-index: @sticky-z-index-2;
      }
    }
  }

  :global {
    > .ant-tabs-content-holder {
      display: flex;

      > .ant-tabs-content {
        > .ant-tabs-tabpane {
          display: flex;
          flex-direction: column;
        }
      }
    }

    > .ant-tabs-nav {
      margin-bottom: 0 !important;
      padding-top: 16px;
      padding-bottom: 16px;

      > .ant-tabs-nav-wrap {
        > .ant-tabs-nav-list {
          > .ant-tabs-tab {
            > .ant-tabs-tab-btn {
              color: #fff !important;
              font-size: 16px !important;
            }
          }
        }
      }
    }

    > .ant-tabs-nav::before {
      border-bottom: 0 !important;
    }

    > .ant-tabs-nav .ant-tabs-ink-bar {
      background: white;
      border: 1px solid rgba(255, 255, 255, 0.85);
    }
  }
}
