@import 'src/components/ui/colors';

.expandedRow {
  padding: 1rem;
}

.panel {
  border: 1px solid @fr-colors-purpleGrayTint !important;
  border-radius: 3px !important;
  margin-bottom: 28px;
  width: 100%;

  :global {
    .ant-collapse-header {
      width: 100% !important;
    }

    .ant-collapse-header-text {
      width: 100% !important;
    }
  }
}
