@import 'src/components/ui/colors';

.root {
  padding: 12px 16px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  gap: 8px;
  flex: 1;
}

.highlighted {
  background-color: @fr-colors-v2-primary-shades-blue-50;
}

.divider {
  width: 1px;
  background-color: @fr-colors-v2-gray-2;
}
