@import 'src/components/ui/colors.less';

.container {
  width: fit-content;
}

.address {
  width: 353px;
}

.all {
  width: 687px;
}

.contact {
  width: 345px;
  word-break: break-all;
}

.border {
  border-bottom: none !important;
}
