@import 'src/components/ui/colors.less';

.root {
  &:not(.disabled) {
    &:not(.startExclusive) {
      :global {
        .ant-slider-handle.ant-slider-handle-1 {
          background-color: @fr-colors-blue-1 !important;
        }
      }
    }
    &:not(.endExclusive) {
      :global {
        .ant-slider-handle.ant-slider-handle-2 {
          background-color: @fr-colors-blue-1 !important;
        }
      }
    }
  }

  &.disabled {
    &:not(.startExclusive) {
      :global {
        .ant-slider-handle.ant-slider-handle-1 {
          background-color: @fr-colors-gray-3 !important;
          border-color: @fr-colors-gray-3 !important;
        }
      }
    }
    &:not(.endExclusive) {
      :global {
        .ant-slider-handle {
          background-color: @fr-colors-gray-3 !important;
          border-color: @fr-colors-gray-3 !important;
        }
      }
    }
  }
}
