@import 'src/components/ui/colors';

.rootSettingsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    width: fit-content;
  }
}

.divider {
  height: 1px;
  background-color: @figma-vars--tokens-colorStrokeTertiary;
  margin: 16px 0;
}

.horizontalSpace {
  display: flex;
  align-items: center;
  gap: 8px;
}

.horizontalSpaceWrap {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
