.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  button {
    width: 135px;
  }
}
