@import 'src/components/ui/colors';

.root {
  margin: 0 !important;
  :global {
    // declare detached ruleset
    @row-rules: {
      .ant-table-cell {
        vertical-align: top;
        border-color: @fr-colors-gray-1 !important;
        border-style: solid;
        border-width: 0 0 1px 1px;

        &:last-child {
          border-right-width: 1px;
        }
      }
    };

    .ant-pro-table .ant-pro-table-search {
      border-radius: 4px !important;
    }

    .ant-pro-card {
      border-radius: 4px 4px 0 0;
    }

    .ant-table-row {
      @row-rules();
    }

    .ant-table-placeholder {
      @row-rules();
    }

    .ant-table-thead > tr {
      @row-rules();
      &:first-child {
        :global .ant-table-cell {
          border-top-width: 1px;
        }
      }
      .ant-table-cell {
        &::before {
          content: none !important;
        }
      }
    }

    .ant-table-expanded-row > .ant-table-cell {
      background: @fr-colors-gray-1 !important;
    }

    .ant-table-thead > tr:first-child .ant-table-cell {
      font-weight: 600 !important;
    }
  }

  &:not(.disableExpandedRowPadding) {
    :global {
      .ant-table-expanded-row > .ant-table-cell {
        padding: 20px !important;
      }
    }
  }
  &.disableExpandedRowPadding {
    :global {
      .ant-table-expanded-row > .ant-table-cell {
        padding: 0;
      }
    }
  }
}

.tableRowLight {
  &,
  &:hover {
    > td {
      background-color: #fff !important;
    }
  }
}

.tableRowDark {
  &,
  &:hover {
    > td {
      background-color: @fr-color-blue-tabledark !important;
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: -2px !important;
  padding: 24px !important;
  background: white;
  border-radius: 0 0 4px 4px;
}

.actionHeader {
  display: flex;
  gap: 1rem;
}
