@import 'src/components/ui/colors';

:global {
  .ant-table {
    margin: 0 !important;
  }
}

.root {
  margin: 0 !important;

  &:not(.disableScrolling) {
    :global {
      > .ant-pro-table > .ant-pro-card > .ant-pro-card-body > .ant-table-wrapper {
        max-height: calc(100vh - 350px);
        overflow-y: auto;
      }
    }
  }
  :global {
    // declare detached ruleset
    @row-rules: {
      .ant-table-cell {
        vertical-align: top;
        border-color: @fr-colors-gray-1 !important;
        border-style: solid;
        border-width: 0 0 1px 1px;

        &:last-child {
          border-right-width: 1px;
        }
      }
    };

    .ant-pro-table .ant-pro-table-search {
      border-radius: 4px !important;
    }

    .ant-pro-card {
      border-radius: 4px 4px 0 0;
    }

    .ant-table-row {
      @row-rules();
    }

    .ant-table-placeholder {
      @row-rules();
    }

    .ant-table-thead > tr {
      @row-rules();
      &:first-child {
        :global .ant-table-cell {
          border-top-width: 1px;
        }
      }
      .ant-table-cell {
        &::before {
          content: none !important;
        }
      }
    }

    .ant-table-expanded-row > .ant-table-cell {
      background: @fr-colors-gray-1 !important;
    }

    .ant-table-thead > tr:first-child .ant-table-cell {
      font-weight: 600 !important;
    }

    .ant-pro-table-list-toolbar {
      display: flex;
      justify-content: space-between;
    }

    .ant-pro-table-list-toolbar-container {
      flex: 1 !important;
      display: flex;
      flex-direction: column !important;
      gap: 18px !important;
      align-items: flex-end;
      position: relative;
      min-height: 60px;
    }

    .ant-pro-table-list-toolbar-left {
      flex: 1 !important;
      width: 100%;
    }

    .ant-pro-table-list-toolbar-title {
      flex: 1 !important;
      gap: 8px;
    }

    .ant-pro-table-list-toolbar-setting-item {
      &:hover {
        color: @fr-colors-brandBlue !important;
      }
    }

    .ant-paginatiion-total-text {
      margin-right: 0.5rem !important;
    }

    .ant-pagination-prev,
    .ant-pagination-next {
      margin: 0 0.5rem !important;
      border-color: transparent !important;
      border-radius: 4px !important;
    }

    .ant-pagination-item {
      border-color: transparent !important;
      border-radius: 4px !important;
    }

    .ant-pagination-options {
      margin-left: 1rem !important;
      margin-right: 1rem !important;
    }

    .ant-pagination-options-quick-jumper {
      margin-left: 1rem !important;
    }

    .ant-table-body::-webkit-scrollbar {
      display: none;
    }

    .ant-table-body {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .ant-pagination-next {
      margin-left: 0 !important;
    }

    .ant-pro-table-list-toolbar-right {
      position: absolute;
      bottom: 16px;
      z-index: 2;
      background: white;
      //border-left: 1px solid @fr-colors-v2-gray-2;
      padding-left: 16px;
      margin-left: 16px;
      height: 28px;
    }
  }

  &:not(.disableExpandedRowPadding) {
    :global {
      .ant-table-expanded-row > .ant-table-cell {
        padding: 20px !important;
      }
    }
  }
  &.disableExpandedRowPadding {
    :global {
      .ant-table-expanded-row > .ant-table-cell {
        padding: 0;
      }
    }
  }

  .disableInternalPadding {
    :global {
      > .ant-pro-card > .ant-pro-card-body {
        padding: 0 !important;
      }
    }
  }
}

.tableRowLight {
  &,
  &:hover {
    > td {
      background-color: #fff !important;
    }
  }
}

.tableRowDark {
  &,
  &:hover {
    > td {
      background-color: @fr-color-blue-tabledark !important;
    }
  }
}

.actionsHeaderWrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  flex: 1;
  min-height: 28px;
}

.actionsHeaderWrapperTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.actionsHeaderWrapperBottom {
  margin-right: 140px;
}

.actionHeader {
  display: flex;
  gap: 1rem;
}

.subtitle {
  font-size: 16px !important;
  line-height: 28px !important;
  font-weight: 600;
}

.toolbar {
  margin-top: 0;
}

.twoLineTitle {
  > div:nth-child(2) {
    color: #989898;
    font-size: 12px;
  }
}
