@import 'src/components/ui/colors';

.root {
  display: inline-flex;
  align-items: center;
  line-height: 1.3em;
  white-space: nowrap;
  color: @fr-colors-brandBlue;
}

.inner {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 2px;
}

.icon {
  height: 20px;
  width: 17px;
  margin-right: 7px !important;
  color: @fr-colors-brandBlue;
  margin-left: 8px;
}

.id {
  text-overflow: ellipsis;
  max-width: 100px;
  overflow: hidden;
}
