@import 'src/components/ui/colors';

.icon {
  height: 1rem;
  width: 1rem;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.separator {
  border-bottom: 1px solid @fr-colors-v2-gray-2;
}

.keyInformation {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.listingItems {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fieldGrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px 40px;
}

.adverseMediaList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.countryList {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footerNavigation {
  display: flex;
  gap: 16px;
  width: 100%;
}

.pdfModeHeader {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 12px;
  color: @fr-colors-v2-gray-7;
}
