.select {
  :global {
    .assignee-option {
      display: flex;
      align-items: center;
      justify-content: left;
      margin-top: 28px;
    }
  }
}

.container {
  display: grid;
  gap: 1rem;
}

.permissionsGroup {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
