.root {
  display: flex;

  &.vertical {
    flex-direction: column;
    gap: 8px;
  }

  &.horizontal {
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }
}

.option {
  display: flex;
  align-items: center;
}
