@import 'src/components/ui/colors';

.root {
  display: flex;
  align-items: center;
  gap: 12px;
}

.button {
  border: 1px solid @fr-colors-purpleGrayTint;
  border-radius: 4px;
  background: white;
  display: inline-flex;
  padding: 6px 10px;
  color: @fr-colors-purpleGray;
  gap: 10px;
  align-items: center;
  font-size: 14px;

  &:not(:disabled) {
    cursor: pointer;
  }

  &.isActive {
    background: @fr-colors-brandBlue;
    border-color: @fr-colors-brandBlue;
    color: white;
  }

  .buttonIcon {
    height: 16px;
  }
}
