@import '~antd/es/style/themes/default.less';

.container > * {
  background-color: @popover-bg;
  border-radius: 4px;
  box-shadow: @shadow-1-down;
}

.table-row-light {
  background-color: #fff;
}
.table-row-dark {
  background-color: #e1e1e1;
}

@media screen and (max-width: @screen-xs) {
  .container {
    width: 100% !important;
  }
  .container > * {
    border-radius: 0 !important;
  }
}
