@import 'src/components/ui/colors.less';
@import 'src/pages/case-management-item/CaseDetails/InsightsCard/TransactionsSelector/Chart/variables.less';

.root {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid @grid-color;
  width: 100%;
}

.label {
  border-style: solid;
  border-color: @grid-color;
  border-width: 0 1px 0 1px;
  height: 10px;
  position: absolute;
}

.labelText {
  position: absolute;
  left: 50%;
  top: 0;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
