@import 'src/components/ui/colors.less';

.container {
  width: fit-content;
}

.section {
  border-right: 1px solid #dfe6f2;
}

.details {
  border-right: 1px solid #dfe6f2;
  width: 345px;
}

.address {
  width: 353px;
}

.border {
  border-bottom: none !important;
}
