@import 'src/components/ui/colors.less';
@import 'src/components/ui/animation.less';

.skeleton {
  span {
    color: transparent;
    background: @fr-colors-v2-skeleton;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 600;
}
.description {
  font-weight: 400;
}

.tools {
  display: flex;
  gap: 16px;
  align-items: center;
}

.commentPopover {
  width: 600px;
}
