@import 'src/components/ui/colors.less';

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.variables {
  display: flex;
  gap: 16px;

  label {
    margin-left: 15px;
  }
}

.variablesModal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  &.singleVariable {
    grid-template-columns: 1fr;
  }
}

.input {
  &:not(.labelPosition-RIGHT) {
    width: fit-content;
  }
}

.buttons {
  display: flex;
  gap: 16px;
}

.autocomplete {
  width: 100%;
}
