@import 'src/components/ui/colors.less';

.root {
  background: fade(@fr-colors-brandBlueTint, 45%);
  border-color: fade(@fr-colors-purpleGray, 45%);
  color: @fr-colors-purpleGray;
}

.empty {
  min-height: 150px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.properties {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
