@import 'src/components/ui/colors';
@import 'src/components/ui/animation';

.root {
  background-color: @figma-vars--tokens-colorBackgroundContainer;
  border-radius: @figma-vars--tokens-spacingSpacing3xs;
  padding: @figma-vars--tokens-spacingSpacing3xs;
  overflow-y: auto;
  width: 100%;
}
