{{^isArray}}{{#isString}}StringType(){{/isString}}{{#isBoolean}}BooleanType(){{/isBoolean}}{{#isNumber}}DoubleType(){{/isNumber}}{{#isModel}}{{{datatype}}}{{/isModel}}{{^isPrimitive}}{{^isModel}}{{^isString}}{{^isNumber}}{{^isBoolean}}StringType(){{/isBoolean}}{{/isNumber}}{{/isString}}{{/isModel}}{{/isPrimitive}}{{/isArray}}{{#isArray}}{{#items}}ArrayType({{>datatypes}}){{/items}}{{/isArray}}