{{classname}} = StructType([
{{#parent}}
{{^isMap}}
{{^isArray}}
	{{{parent}}}
{{/isArray}}
{{/isMap}}
{{#isArray}}
	ArrayType({{{parent}}}, True)
{{/isArray}}
{{/parent}}
{{#vars}}
{{^-first}}
{{/-first}}
	StructField("{{baseName}}", {{>datatypes}}, True),
{{/vars}}
])
