.header {
  display: flex;
  align-items: flex-start;

  button {
    height: 32px;
  }
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.timeWindowInputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
