@import 'src/components/ui/colors';

.root {
}

.dropdown {
  position: relative;
  width: 100%;
  z-index: 1;
}

.dropdownPosition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.1));
  border-radius: 4px;
  overflow: auto;
  max-height: 450px;
}
