@import 'src/components/ui/colors';

.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  display: flex;
  gap: 12px;
}

.text {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 600;

  &.color-FLAG {
    color: @fr-colors-v2-risk-level-base-medium;
  }

  &.color-BLOCK {
    color: @fr-colors-v2-risk-level-base-high;
  }

  &.color-SUSPEND {
    color: @fr-colors-v2-risk-level-base-very-high;
  }
}

.description {
  color: @fr-colors-v2-gray-6;
}
