@import '../ui/colors.less';

.fileListText:link {
  color: @fr-colors-purpleGray;
}

.fileListText:visited {
  color: @fr-colors-purpleGray;
}

.fileListText:hover {
  color: @fr-colors-purpleGray;
}

.fileListText:active {
  color: @fr-colors-purpleGray;
}

.fileListContainer {
  display: grid;
  grid-auto-flow: column;
  gap: 1.5rem;
}

.fileListText {
  color: @fr-colors-purpleGray !important;
}

.fileListDeleteButton {
  margin-left: 0.625rem;
  padding: 0;
  line-height: 0px;
  border-radius: 100%;
  border: 0;
}

.fileAttachmentButton {
  background-color: rgba(223, 230, 242, 0.45) !important;
  padding: 0.5rem !important;
  border-radius: 0.5rem;
  border-color: @fr-colors-purpleGray !important;
  border-style: solid !important;
  border-width: 1px !important;
  width: fit-content !important;
}
