openapi: 3.0.0
info:
  description: ''
  title: Flagright API
  contact: {}
  version: '1.0'
servers:
  - url: https://sandbox.api.flagright.com
    description: Sandbox API server
paths:
  /transactions:
    post:
      x-fern-sdk-group-name: transactions
      x-fern-sdk-method-name: verify
      security:
        - x-api-key: []
      summary: Verify a Transaction
      description: >-
        ## POST Transactions


        `/transactions` endpoint allows you to operate on the [Transaction entity.](/guides/overview/entities#transaction)


        In order to pass the payload of a transaction to Flagright and verify the transaction, you will need to call this endpoint with the transaction payload. Not all fields are mandatory, you will only need to pass in the fields that you have and are relevant for your compliance setup. 



        ### Payload


        Here are some of the most used payload fields explained (you can find the full payload [schema below](/api-reference/api-reference/transactions/verify#request) with 1 line descriptions):


        * `type`: Type of transaction (Ex: `WITHDRAWAL`, `DEPOSIT`, `TRANSFER` etc). 

        * `transactionId` - Unique Identifier for the transaction. Flagright API will generate a `transactionId` if this field is left empty

        * `timestamp` - UNIX timestamp in *milliseconds* of when the transaction took place

        * `transactionState` - The state of the transaction, set to `CREATED` by default. [More details here](/guides/overview/entities#transaction-lifecycle-through-transaction-events)

        * `originUserId` - Unique identifier (if any) of the user who is sending the money. This user must be created within the Flagright system before using the [create a consumer user](/api-reference/api-reference/consumer-users/create) or [create a business user](/api-reference/api-reference/business-users/create) endpoint

        * `destinationUserId` - Unique identifier (if any) of the user who is receiving the money. This user must be created within the Flagright system before using the [create a consumer user](/api-reference/api-reference/consumer-users/create) or [create a business user](/api-reference/api-reference/business-users/create) endpoint

        * `originAmountDetails` - Details of the amount being sent from the origin

        * `destinationAmountDetails` - Details of the amount being received at the destination

        * `originPaymentDetails` - Payment details (if any) used at the origin (ex: `CARD`, `IBAN`, `WALLET` etc). You can click on the dropdown next to the field in the schema below to view all supported payment types.

        * `destinationPaymentDetails` - Payment details (if any) used at the destination (ex: `CARD`, `IBAN`, `WALLET` etc). You can click on the dropdown next to the field in the schema below to view all supported payment types.
      operationId: post-consumer-transaction
      parameters:
        - schema:
            $ref: '#/components/schemas/BooleanString'
          in: query
          name: validateOriginUserId
          description:
            Boolean string whether Flagright should validate if provided
            originUserId exist. True by default
        - schema:
            $ref: '#/components/schemas/BooleanString'
          in: query
          description:
            Boolean string whether Flagright should validate if provided
            destinationUserId exist. True by default
          name: validateDestinationUserId
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction'
            examples:
              example-1:
                value:
                  transactionId: 7b80a539eea6e78acbd6d458e5971482
                  type: DEPOSIT
                  originUserId: 8650a2611d0771cba03310f74bf6
                  destinationUserId: 9350a2611e0771cba03310f74bf6
                  originAmountDetails:
                    country: DE
                    transactionAmount: 800
                    transactionCurrency: EUR
                  destinationAmountDetails:
                    country: IN
                    transactionAmount: 68351.34
                    transactionCurrency: INR
                  promotionCodeUsed: true
                  timestamp: 1641654664000
                  originPaymentDetails:
                    method: CARD
                    cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
                    cardIssuedCountry: US
                    transactionReferenceField: Deposit
                    3dsDone: true
                  destinationPaymentDetails:
                    method: CARD
                    cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
                    cardIssuedCountry: IN
                    transactionReferenceField: Deposit
                    3dsDone: true
                  reference: loan repayment
                  originDeviceData:
                    batteryLevel: 95
                    deviceLatitude: 13.0033
                    deviceLongitude: 76.1004
                    ipAddress: 10.23.191.2
                    deviceIdentifier: 3c49f915d04485e34caba
                    vpnUsed: false
                    operatingSystem: Android 11.2
                    deviceMaker: ASUS
                    deviceModel: Zenphone M2 Pro Max
                    deviceYear: '2018'
                    appVersion: 1.1.0
                  destinationDeviceData:
                    batteryLevel: 95
                    deviceLatitude: 13.0033
                    deviceLongitude: 76.1004
                    ipAddress: 10.23.191.2
                    deviceIdentifier: 3c49f915d04485e34caba
                    vpnUsed: false
                    operatingSystem: Android 11.2
                    deviceMaker: ASUS
                    deviceModel: Zenphone M2 Pro Max
                    deviceYear: '2018'
                    appVersion: 1.1.0
                  tags:
                    - key: customKey
                      value: customValue
        required: true
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/TransactionMonitoringResult'
                  - type: object
                    properties:
                      message:
                        type: string
              examples:
                example-1:
                  value:
                    transactionId: 7b80a539eea6e78acbd6d458e5971482
                    executedRules:
                      - ruleId: R-1a
                        ruleName: Proof of funds for high value transactions
                        ruleDescription:
                          If a user makes a remittance transaction >= 1800 in EUR - ask
                          for proof of funds
                        ruleAction: BLOCK
                        ruleHit: true
                    hitRules:
                      - ruleId: R-1a
                        ruleName: Proof of funds for high value transactions
                        ruleDescription:
                          If a user makes a remittance transaction >= 1800 in EUR - ask
                          for proof of funds
                        ruleAction: BLOCK
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Too Many Requests
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      deprecated: false
      tags: []
  /transactions/{transactionId}:
    get:
      x-fern-sdk-group-name: transactions
      x-fern-sdk-method-name: get
      security:
        - x-api-key: []
      summary: Retrieve a Transaction
      description: >-
        ### GET Transactions


        `/transactions` endpoint allows you to operate on the [Transaction entity](/guides/overview/entities#transaction).


        Calling `GET /transactions/{transactionId}` will return the entire transaction payload and rule execution results for the transaction with the corresponding `transactionId`
      operationId: get-consumer-transaction
      parameters:
        - name: transactionId
          in: path
          description: Unique Transaction Identifier
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionWithRulesResult'
              examples:
                example-1:
                  value:
                    transactionId: 7b80a539eea6e78acbd6d458e5971482
                    type: DEPOSIT
                    originUserId: 8650a2611d0771cba03310f74bf6
                    destinationUserId: 9350a2611e0771cba03310f74bf6
                    originAmountDetails:
                      country: DE
                      transactionAmount: 800
                      transactionCurrency: EUR
                    destinationAmountDetails:
                      country: IN
                      transactionAmount: 68351.34
                      transactionCurrency: INR
                    promotionCodeUsed: true
                    timestamp: 1641654664000
                    originPaymentDetails:
                      method: CARD
                      cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
                      cardIssuedCountry: US
                      transactionReferenceField: Deposit
                      3dsDone: true
                    destinationPaymentDetails:
                      method: CARD
                      cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
                      cardIssuedCountry: IN
                      transactionReferenceField: Deposit
                      3dsDone: true
                    reference: loan repayment
                    originDeviceData:
                      batteryLevel: 95
                      deviceLatitude: 13.0033
                      deviceLongitude: 76.1004
                      ipAddress: 10.23.191.2
                      deviceIdentifier: 3c49f915d04485e34caba
                      vpnUsed: false
                      operatingSystem: Android 11.2
                      deviceMaker: ASUS
                      deviceModel: Zenphone M2 Pro Max
                      deviceYear: '2018'
                      appVersion: 1.1.0
                    destinationDeviceData:
                      batteryLevel: 95
                      deviceLatitude: 13.0033
                      deviceLongitude: 76.1004
                      ipAddress: 10.23.191.2
                      deviceIdentifier: 3c49f915d04485e34caba
                      vpnUsed: false
                      operatingSystem: Android 11.2
                      deviceMaker: ASUS
                      deviceModel: Zenphone M2 Pro Max
                      deviceYear: '2018'
                      appVersion: 1.1.0
                    tags:
                      - key: customKey
                        value: customValue
                    executedRules:
                      - ruleId: R-1a
                        ruleName: Proof of funds for high value transactions
                        ruleDescription:
                          If a user makes a remittance transaction >= 1800 in EUR - ask
                          for proof of funds
                        ruleAction: BLOCK
                        ruleHit: true
                    hitRules:
                      - ruleId: R-1a
                        ruleName: Proof of funds for high value transactions
                        ruleDescription:
                          If a user makes a remittance transaction >= 1800 in EUR - ask
                          for proof of funds
                        ruleAction: BLOCK
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Too Many Requests
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      deprecated: false
      tags: []
  /events/transaction:
    post:
      x-fern-sdk-group-name: transaction_events
      x-fern-sdk-method-name: create
      security:
        - x-api-key: []
      summary: Create a Transaction Event
      description: >
        ## POST Transaction Events


        `/events/transaction` endpoint allows you to operate on the [Transaction Events entity.](/guides/overview/entities#transaction-event)


        Transaction events are created after the initial `POST /transactions` call (which creates a transaction) and are used to:


        * Update the STATE of the transaction, using the `transactionState` field and manage the [Transaction Lifecycle](/guides/overview/entities#transaction-lifecycle-through-transaction-events)

        * Update the transaction details, using the `updatedTransactionAttributes` field.


        > If you have neither of the above two use cases, you do not need to use transaction events. 


        ### Payload


        Each transaction event needs three mandatory fields:


        * `transactionState` - STATE of the transaction -> value is set to `CREATED` after `POST /transactions` call

        * `timestamp`- the timestamp of when the event was created or occured in your system

        * `transactionId` - The ID of the transaction for which this event is generated. 


        In order to make individual events retrievable, you also need to pass in a unique `eventId` to the request body.
      operationId: post-transaction-event
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionEvent'
            examples:
              example-2:
                value:
                  timestamp: 1431231244001
                  transactionId: 443dea26147a406b957d9ee3a1247b11
                  transactionState: SUCCESSFUL
                  eventId: aaeeb166147a406b957dd9147a406b957
                  eventDescription: Transaction created
                  metaData:
                    batteryLevel: 76.3
                    deviceLatitude: 13.009711
                    deviceLongitude: 76.102898
                    ipAddress: 79.144.2.20
                    vpnUsed: true
        required: true
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionEventMonitoringResult'
              examples:
                example-1:
                  value:
                    eventId: 7b80a539eea6e78acbd6d458e5971482
                    transaction:
                      transactionId: 7b80a539eea6e78acbd6d458e5971482
                      type: DEPOSIT
                      originUserId: 8650a2611d0771cba03310f74bf6
                      destinationUserId: 9350a2611e0771cba03310f74bf6
                      originAmountDetails:
                        country: DE
                        transactionAmount: 800
                        transactionCurrency: EUR
                      destinationAmountDetails:
                        country: IN
                        transactionAmount: 68351.34
                        transactionCurrency: INR
                      promotionCodeUsed: true
                      timestamp: 1641654664000
                      originPaymentDetails:
                        method: CARD
                        cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
                        cardIssuedCountry: US
                        transactionReferenceField: Deposit
                        3dsDone: true
                      destinationPaymentDetails:
                        method: CARD
                        cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
                        cardIssuedCountry: IN
                        transactionReferenceField: Deposit
                        3dsDone: true
                      reference: loan repayment
                      originDeviceData:
                        batteryLevel: 95
                        deviceLatitude: 13.0033
                        deviceLongitude: 76.1004
                        ipAddress: 10.23.191.2
                        deviceIdentifier: 3c49f915d04485e34caba
                        vpnUsed: false
                        operatingSystem: Android 11.2
                        deviceMaker: ASUS
                        deviceModel: Zenphone M2 Pro Max
                        deviceYear: '2018'
                        appVersion: 1.1.0
                      destinationDeviceData:
                        batteryLevel: 95
                        deviceLatitude: 13.0033
                        deviceLongitude: 76.1004
                        ipAddress: 10.23.191.2
                        deviceIdentifier: 3c49f915d04485e34caba
                        vpnUsed: false
                        operatingSystem: Android 11.2
                        deviceMaker: ASUS
                        deviceModel: Zenphone M2 Pro Max
                        deviceYear: '2018'
                        appVersion: 1.1.0
                      tags:
                        - key: customKey
                          value: customValue
                    executedRules:
                      - ruleId: R-1a
                        ruleName: Proof of funds for high value transactions
                        ruleDescription:
                          If a user makes a remittance transaction >= 1800 in EUR - ask
                          for proof of funds
                        ruleAction: BLOCK
                        ruleHit: true
                    hitRules:
                      - ruleId: R-1a
                        ruleName: Proof of funds for high value transactions
                        ruleDescription:
                          If a user makes a remittance transaction >= 1800 in EUR - ask
                          for proof of funds
                        ruleAction: BLOCK
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Too Many Requests
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      deprecated: false
      tags: []
      x-internal: false
  /events/transaction/{eventId}:
    get:
      x-fern-sdk-group-name: transaction_events
      x-fern-sdk-method-name: get
      security:
        - x-api-key: []
      summary: Retrieve a Transaction Event
      description: >
        ### GET Transaction Events


        `/events/transaction` endpoint allows you to operate on the [Transaction Events entity.](/guides/overview/entities#transaction-event). 


        You can retrieve any transaction event you created using the [POST Transaction Events](/api-reference/api-reference/transaction-events/create) call.
      operationId: get-transaction-event
      parameters:
        - name: eventId
          in: path
          description: Unique Transaction Identifier
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionEvent'
              examples:
                example-1:
                  value:
                    eventType: CREATED
                    transactionId: 443dea26147a406b957d9ee3a1247b11
                    transactionState: SUCCESSFUL
                    timestamp: 1641654664000
                    metaData:
                      ipAddress: 144.13.22.19
                      vpnUsed: true
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Too Many Requests
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      deprecated: false
      tags: []
      x-internal: true
  /consumer/users:
    post:
      x-fern-sdk-group-name: consumer_users
      x-fern-sdk-method-name: create
      security:
        - x-api-key: []
      summary: Create a Consumer User
      description: >
        ## POST Consumer User


        `/consumer/user` endpoint allows you to operate on the Consumer user entity.


        In order to pass the payload of a User to Flagright and verify the User, you will need to call this endpoint with the User payload. Not all fields are mandatory, you will only need to pass in the fields that you have and are relevant for your compliance setup.


        ### Payload


        Each consumer user needs two mandatory fields:


        * `userId` - Unique identifier for the user

        * `createdTimestamp` - UNIX timestamp in *milliseconds* for when the User is created in your system
      operationId: post-consumer-user
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
            examples:
              example-1:
                value:
                  createdTimestamp: 1641654664000
                  userId: 96647cfd9e8fe66ee0f3362e011e34e8
                  userDetails:
                    name:
                      firstName: Baran
                      middleName: Realblood
                      lastName: Ozkan
                    dateOfBirth: 1991-01-01
                    countryOfResidence: US
                    countryOfNationality: DE
                  legalDocuments:
                    - documentType: passport
                      documentNumber: Z9431P
                      documentIssuedDate: 1639939034000
                      documentExpirationDate: 1839939034000
                      documentIssuedCountry: DE
                      tags:
                        - key: customerType
                          value: wallet
                  contactDetails:
                    emailIds:
                      - baran@flagright.com
                    contactNumbers:
                      - '+37112345432'
                    websites:
                      - flagright.com
                    addresses:
                      - addressLines:
                          - Klara-Franke Str 20
                        postcode: '10557'
                        city: Berlin
                        state: Berlin
                        country: Germany
                        tags:
                          - key: customKey
                            value: customValue
                  tags:
                    - key: customKey
                      value: customValue
        required: true
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ConsumerUsersResponse'
                  - type: object
                    properties:
                      message:
                        type: string
              examples:
                example-1:
                  value:
                    userId: 96647cfd9e8fe66ee0f3362e011e34e8
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Too Many Requests
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      deprecated: false
      tags: []
  /consumer/users/{userId}:
    get:
      x-fern-sdk-group-name: consumer_users
      x-fern-sdk-method-name: get
      security:
        - x-api-key: []
      summary: Retrieve a Consumer User
      description: >-
        ### GET Consumer User


        `/consumer/user` endpoint allows you to operate on the Consumer User entity.


        Calling `GET /consumer/user/{userId}` will return the entire user payload and rule execution results for the user with the corresponding `userId`
      operationId: get-consumer-user
      parameters:
        - name: userId
          in: path
          description: ''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWithRulesResult'
              examples:
                example-1:
                  value:
                    createdTimestamp: 1641654664000
                    userId: 96647cfd9e8fe66ee0f3362e011e34e8
                    userDetails:
                      name:
                        firstName: Baran
                        middleName: Realblood
                        lastName: Ozkan
                      dateOfBirth: 1991-01-01
                      countryOfResidence: US
                      countryOfNationality: DE
                    legalDocuments:
                      - documentType: passport
                        documentNumber: Z9431P
                        documentIssuedDate: 1639939034000
                        documentExpirationDate: 1839939034000
                        documentIssuedCountry: DE
                        tags:
                          - key: customerType
                            value: wallet
                    riskScoreDetails:
                      kycRiskScore: 11.72
                      craRiskScore: 41.72
                      kycRiskLevel: MEDIUM
                      craRiskLevel: HIGH
                    contactDetails:
                      emailIds:
                        - baran@flagright.com
                      contactNumbers:
                        - '+37112345432'
                      websites:
                        - flagright.com
                      addresses:
                        - addressLines:
                            - Klara-Franke Str 20
                          postcode: '10557'
                          city: Berlin
                          state: Berlin
                          country: Germany
                          tags:
                            - key: customKey
                              value: customValue
                    tags:
                      - key: customKey
                        value: customValue
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Too Many Requests
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      deprecated: false
      tags: []
  /business/users:
    post:
      x-fern-sdk-group-name: business_users
      x-fern-sdk-method-name: create
      security:
        - x-api-key: []
      summary: Create a Business User
      description: >-
        ## POST Business User


        `/business/user` endpoint allows you to operate on the Business user entity.


        In order to pass the payload of a User to Flagright and verify the User, you will need to call this endpoint with the User payload. Not all fields are mandatory, you will only need to pass in the fields that you have and are relevant for your compliance setup.


        ### Payload



        Each business user needs three mandatory fields:


        * `userId` - Unique identifier for the user

        * `legalEntity` - Details of the business legal entity (CompanyGeneralDetails, FinancialDetails etc) - only `legalName`in `CompanyGeneralDetails` is mandatory

        * `createdTimestamp` - UNIX timestamp in *milliseconds* for when the User is created in your system
      operationId: post-business-user
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Business'
        required: true
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BusinessUsersResponse'
                  - type: object
                    properties:
                      message:
                        type: string
              examples:
                example-1:
                  value:
                    userId: 96647cfd9e8fe66ee0f3362e011e34e8
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Too Many Requests
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      deprecated: false
      tags: []
  /business/users/{userId}:
    get:
      x-fern-sdk-group-name: business_users
      x-fern-sdk-method-name: get
      security:
        - x-api-key: []
      summary: Retrieve a Business User
      description: >-
        ### GET Business User


        `/business/user` endpoint allows you to operate on the Business User entity.


        Calling `GET /business/user/{userId}` will return the entire User payload and rule execution results for the User with the corresponding `userId`
      operationId: get-business-user-userId
      parameters:
        - name: userId
          in: path
          description: ''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessWithRulesResult'
              examples:
                example-2:
                  value:
                    createdTimestamp: 1641654664000
                    userId: 96647cfd9e8fe66ee0f3362e011e34e8
                    legalEntity:
                      companyGeneralDetails:
                        legalName: Ozkan Hazelnut Export JSC
                        businessIndustry:
                          - Farming
                        mainProductsServicesSold:
                          - Hazelnut
                      companyFinancialDetails:
                        expectedTransactionAmountPerMonth:
                          amountValue: 800
                          amountCurrency: GBP
                        expectedTurnoverPerMonth:
                          amountValue: 8000
                          amountCurrency: USD
                      companyRegistrationDetails:
                        registrationIdentifier: PSJ554342
                        registrationCountry: DE
                      reasonForAccountOpening:
                        - string
                      contactDetails:
                        addresses:
                          - addressLines:
                              - Klara-Franke Str 20
                            postcode: '10557'
                            city: Berlin
                            state: Berlin
                            country: Germany
                            tags:
                              - key: customKey
                                value: customValue
                    shareHolders:
                      - generalDetails:
                          name:
                            firstName: Baran
                            middleName: Realblood
                            lastName: Ozkan
                          dateOfBirth: 1991-01-01
                          countryOfResidence: US
                          countryOfNationality: DE
                        legalDocuments:
                          - documentType: passport
                            documentNumber: Z9431P
                            documentIssuedDate: 1639939034000
                            documentExpirationDate: 1839939034000
                            documentIssuedCountry: DE
                            tags:
                              - key: customerType
                                value: wallet
                        contactDetails:
                          emailIds:
                            - baran@flagright.com
                          contactNumbers:
                            - +371 123132
                          websites:
                            - flagright.com
                          addresses:
                            - addressLines:
                                - Klara-Franke Str 20
                              postcode: '10557'
                              city: Berlin
                              state: Berlin
                              country: Germany
                              tags:
                                - key: customKey
                                  value: customValue
                        tags:
                          - key: customKey
                            value: customValue
                    directors:
                      - generalDetails:
                          name:
                            firstName: Baran
                            middleName: Realblood
                            lastName: Ozkan
                          dateOfBirth: 1991-01-01
                          countryOfResidence: US
                          countryOfNationality: DE
                        legalDocuments:
                          - documentType: passport
                            documentNumber: Z9431P
                            documentIssuedDate: 1639939034000
                            documentExpirationDate: 1839939034000
                            documentIssuedCountry: DE
                            tags:
                              - key: customerType
                                value: wallet
                        contactDetails:
                          emailIds:
                            - baran@flagright.com
                          contactNumbers:
                            - +371 123132
                          websites:
                            - flagright.com
                          addresses:
                            - addressLines:
                                - Klara-Franke Str 20
                              postcode: '10557'
                              city: Berlin
                              state: Berlin
                              country: Germany
                              tags:
                                - key: customKey
                                  value: customValue
                        tags:
                          - key: customKey
                            value: customValue
                    tags:
                      - key: customKey
                        value: customValue
                    riskScoreDetails:
                      kycRiskScore: 11.72
                      craRiskScore: 41.72
                      kycRiskLevel: MEDIUM
                      craRiskLevel: HIGH
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Too Many Requests
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      deprecated: false
      tags: []
  /events/consumer/user:
    post:
      x-fern-sdk-group-name: consumer_user_events
      x-fern-sdk-method-name: create
      security:
        - x-api-key: []
      summary: Create a Consumer User Event
      description: >
        ## POST Consumer User Events


        `/events/consumer/user` endpoint allows you to operate on the Consumer User Events entity.


        User events are created after the initial `POST /consumer/users` call (which creates a user) and are used to:


        * Update the STATE and KYC Status of the user, using the `userStateDetails` or `kycStatusDetails` field

        * Update the user details, using the `updatedConsumerUserAttributes` field.


        > If you have neither of the above two use cases, you do not need to use user events. 


        ### Payload


        Each user event needs three mandatory fields:


        * `timestamp`- the timestamp of when the event was created or occured in your system

        * `userId` - The ID of the transaction for which this event is generated. 


        In order to make individual events retrievable, you also need to pass in a unique `eventId` to the request body.
      operationId: post-user-event
      parameters:
        - schema:
            $ref: '#/components/schemas/BooleanString'
          in: query
          name: allowUserTypeConversion
          description:
            Boolean string whether Flagright should allow a Consumer user event
            to be applied to a Business user with the same user ID. This will
            converts a Business user to a Consumer user.
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerUserEvent'
        required: true
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWithRulesResult'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Too Many Requests
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      deprecated: false
      tags: []
      x-internal: false
  /events/consumer/user/{eventId}:
    get:
      x-fern-sdk-group-name: consumer_user_events
      x-fern-sdk-method-name: get
      security:
        - x-api-key: []
      summary: Retrieve a Consumer User Event
      description: >
        ### GET a Consumer User Event

        You can retrieve any consumer user event you created using the [POST Consumer User Events](/api-reference/api-reference/consumer-user-events/create) call.
      operationId: get-consumer-user-event
      parameters:
        - name: eventId
          in: path
          description: Unique Consumer User Event Identifier
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerUserEvent'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Too Many Requests
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      deprecated: false
      tags: []
      x-internal: true
  /events/business/user:
    post:
      x-fern-sdk-group-name: business_user_events
      x-fern-sdk-method-name: create
      security:
        - x-api-key: []
      summary: Create a Business User Event
      description: >
        ## POST Business User Events


        `/events/business/user` endpoint allows you to operate on the Business User Events entity.


        User events are created after the initial `POST /business/users` call (which creates a user) and are used to:


        * Update the STATE and KYC Status of the user, using the `userStateDetails` or `kycStatusDetails` field

        * Update the user details, using the `updatedBusinessUserAttributes` field.


        > If you have neither of the above two use cases, you do not need to use user events. 


        ### Payload


        Each user event needs three mandatory fields:


        * `timestamp`- the timestamp of when the event was created or occured in your system

        * `userId` - The ID of the transaction for which this event is generated. 


        In order to make individual events retrievable, you also need to pass in a unique `eventId` to the request body.
      operationId: post-business-user-event
      parameters:
        - schema:
            $ref: '#/components/schemas/BooleanString'
          in: query
          name: allowUserTypeConversion
          description:
            Boolean string whether Flagright should allow a Business user event
            to be applied to a Consumer user with the same user ID. This will
            converts a Consumer user to a Business user.
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessUserEvent'
        required: true
      responses:
        '201':
          description: Created
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessWithRulesResult'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Too Many Requests
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      deprecated: false
      tags: []
      x-internal: false
  /events/business/user/{eventId}:
    get:
      x-fern-sdk-group-name: business_user_events
      x-fern-sdk-method-name: get
      security:
        - x-api-key: []
      summary: Retrieve a Business User Event
      description: >
        ### GET a Business User Event

        You can retrieve any business user event you created using the [POST Business User Events](/api-reference/api-reference/business-user-events/create) call.
      operationId: get-business-user-event
      parameters:
        - name: eventId
          in: path
          description: Unique Business User Event Identifier
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUserEvent'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Too Many Requests
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      deprecated: false
      tags: []
      x-internal: true
components:
  schemas:
    Address:
      title: Address
      required:
        - addressLines
        - city
        - country
      type: object
      properties:
        addressLines:
          type: array
          items: {}
          description: Address lines of the user's residence address
        postcode:
          minLength: 1
          type: string
          description: Post code of the user's residence address
        city:
          minLength: 1
          type: string
          description: City of the user's residence address
        state:
          minLength: 1
          type: string
          description: State of the user's residence address
        country:
          minLength: 1
          type: string
          description: User's country of residence
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
          description: Additional information that can be added via tags
      description: Model for standardized address
      example:
        addressLines:
          - Klara-Franke Str 20
        postcode: '10557'
        city: Berlin
        state: Berlin
        country: Germany
        tags:
          - key: customKey
            value: customValue
    UserBase:
      title: UserBase
      type: object
      description: Model for User details
      example:
        createdTimestamp: 1641654664000
        userId: 96647cfd9e8fe66ee0f3362e011e34e8
        userDetails:
          name:
            firstName: Baran
            middleName: Realblood
            lastName: Ozkan
          dateOfBirth: 1991-01-01
          countryOfResidence: US
          countryOfNationality: DE
        legalDocuments:
          - documentType: passport
            documentNumber: Z9431P
            documentIssuedDate: 1639939034000
            documentExpirationDate: 1839939034000
            documentIssuedCountry: DE
            tags:
              - key: customerType
                value: wallet
        contactDetails:
          emailIds:
            - baran@flagright.com
          contactNumbers:
            - '+37112345432'
          websites:
            - flagright.com
          addresses:
            - addressLines:
                - Klara-Franke Str 20
              postcode: '10557'
              city: Berlin
              state: Berlin
              country: Germany
              tags:
                - key: customKey
                  value: customValue
        tags:
          - key: customKey
            value: customValue
      x-examples:
        example-1:
          userId: 96647cfd9e8fe66ee0f3362e011e34e8
          userDetails:
            name:
              firstName: Baran
              middleName: Realblood
              lastName: Ozkan
            dateOfBirth:
              day: 1
              month: 1
              year: 1990
            countryOfResidence: US
            countryOfNationality: DE
          legalDocuments:
            - documentType: passport
              documentNumber: Z9431P
              documentIssuedDate: 1639939034000
              documentExpirationDate: 1839939034000
              documentIssuedCountry: DE
              tags:
                - key: customerType
                  value: wallet
          contactDetails:
            emailIds:
              - baran@flagright.com
            contactNumbers:
              - '+37112345432'
            websites:
              - flagright.com
            addresses:
              - addressLines:
                  - Klara-Franke Str 20
                postcode: '10557'
                city: Berlin
                state: Berlin
                country: Germany
                tags:
                  - key: customKey
                    value: customValue
          tags:
            - key: customKey
              value: customValue
      properties:
        userId:
          minLength: 1
          type: string
          description: Unique user ID
        createdTimestamp:
          type: number
          description: Timestamp when userId is created
          minimum: 1262300400000
          maximum: 4133890801000
      required:
        - userId
        - createdTimestamp
    UserOptional:
      title: UserOptional
      type: object
      description: Model for User details
      example:
        createdTimestamp: 1641654664000
        userId: 96647cfd9e8fe66ee0f3362e011e34e8
        userDetails:
          name:
            firstName: Baran
            middleName: Realblood
            lastName: Ozkan
          dateOfBirth: 1991-01-01
          countryOfResidence: US
          countryOfNationality: DE
        legalDocuments:
          - documentType: passport
            documentNumber: Z9431P
            documentIssuedDate: 1639939034000
            documentExpirationDate: 1839939034000
            documentIssuedCountry: DE
            tags:
              - key: customerType
                value: wallet
        contactDetails:
          emailIds:
            - baran@flagright.com
          contactNumbers:
            - '+37112345432'
          websites:
            - flagright.com
          addresses:
            - addressLines:
                - Klara-Franke Str 20
              postcode: '10557'
              city: Berlin
              state: Berlin
              country: Germany
              tags:
                - key: customKey
                  value: customValue
        tags:
          - key: customKey
            value: customValue
      x-examples:
        example-1:
          userId: 96647cfd9e8fe66ee0f3362e011e34e8
          userDetails:
            name:
              firstName: Baran
              middleName: Realblood
              lastName: Ozkan
            dateOfBirth:
              day: 1
              month: 1
              year: 1990
            countryOfResidence: US
            countryOfNationality: DE
          legalDocuments:
            - documentType: passport
              documentNumber: Z9431P
              documentIssuedDate: 1639939034000
              documentExpirationDate: 1839939034000
              documentIssuedCountry: DE
              tags:
                - key: customerType
                  value: wallet
          contactDetails:
            emailIds:
              - baran@flagright.com
            contactNumbers:
              - '+37112345432'
            websites:
              - flagright.com
            addresses:
              - addressLines:
                  - Klara-Franke Str 20
                postcode: '10557'
                city: Berlin
                state: Berlin
                country: Germany
                tags:
                  - key: customKey
                    value: customValue
          tags:
            - key: customKey
              value: customValue
      properties:
        userDetails:
          $ref: '#/components/schemas/UserDetails'
        userStateDetails:
          $ref: '#/components/schemas/UserStateDetails'
        kycStatusDetails:
          $ref: '#/components/schemas/KYCStatusDetails'
        employmentStatus:
          $ref: '#/components/schemas/EmploymentStatus'
        occupation:
          type: string
        legalDocuments:
          type: array
          description: User's legal identity documents - See Document Model for details
          items:
            $ref: '#/components/schemas/LegalDocument'
        contactDetails:
          $ref: '#/components/schemas/ContactDetails'
        transactionLimits:
          $ref: '#/components/schemas/TransactionLimits'
        riskLevel:
          $ref: '#/components/schemas/RiskLevel'
        acquisitionChannel:
          $ref: '#/components/schemas/AcquisitionChannel'
        reasonForAccountOpening:
          type: array
          items:
            type: string
        sourceOfFunds:
          type: array
          items:
            $ref: '#/components/schemas/SourceOfFunds'
        userSegment:
          $ref: '#/components/schemas/ConsumerUserSegment'
        pepStatus:
          type: array
          items:
            $ref: '#/components/schemas/PEPStatus'
        tags:
          type: array
          description: Additional information that can be added via tags
          items:
            $ref: '#/components/schemas/Tag'
    ConsumerUserSegment:
      title: ConsumerUserSegment
      type: string
      enum:
        - RETAIL
        - PROFESSIONAL
    User:
      title: User
      description: Model for User details
      example:
        createdTimestamp: 1641654664000
        userId: 96647cfd9e8fe66ee0f3362e011e34e8
        userDetails:
          name:
            firstName: Baran
            middleName: Realblood
            lastName: Ozkan
          dateOfBirth: 1991-01-01
          countryOfResidence: US
          countryOfNationality: DE
        legalDocuments:
          - documentType: passport
            documentNumber: Z9431P
            documentIssuedDate: 1639939034000
            documentExpirationDate: 1839939034000
            documentIssuedCountry: DE
            tags:
              - key: customerType
                value: wallet
        contactDetails:
          emailIds:
            - baran@flagright.com
          contactNumbers:
            - '+37112345432'
          websites:
            - flagright.com
          addresses:
            - addressLines:
                - Klara-Franke Str 20
              postcode: '10557'
              city: Berlin
              state: Berlin
              country: Germany
              tags:
                - key: customKey
                  value: customValue
        tags:
          - key: customKey
            value: customValue
      x-examples:
        example-1:
          userId: 96647cfd9e8fe66ee0f3362e011e34e8
          userDetails:
            name:
              firstName: Baran
              middleName: Realblood
              lastName: Ozkan
            dateOfBirth:
              day: 1
              month: 1
              year: 1990
            countryOfResidence: US
            countryOfNationality: DE
          legalDocuments:
            - documentType: passport
              documentNumber: Z9431P
              documentIssuedDate: 1639939034000
              documentExpirationDate: 1839939034000
              documentIssuedCountry: DE
              tags:
                - key: customerType
                  value: wallet
          contactDetails:
            emailIds:
              - baran@flagright.com
            contactNumbers:
              - '+37112345432'
            websites:
              - flagright.com
            addresses:
              - addressLines:
                  - Klara-Franke Str 20
                postcode: '10557'
                city: Berlin
                state: Berlin
                country: Germany
                tags:
                  - key: customKey
                    value: customValue
          tags:
            - key: customKey
              value: customValue
      allOf:
        - $ref: '#/components/schemas/UserBase'
        - $ref: '#/components/schemas/UserOptional'
    Person:
      title: Person
      type: object
      properties:
        generalDetails:
          $ref: '#/components/schemas/UserDetails'
        legalDocuments:
          type: array
          description: User's legal identity documents - See Document Model for details
          items:
            $ref: '#/components/schemas/LegalDocument'
        contactDetails:
          $ref: '#/components/schemas/ContactDetails'
        pepStatus:
          type: array
          items:
            $ref: '#/components/schemas/PEPStatus'
        tags:
          type: array
          description: Additional information that can be added via tags
          items:
            $ref: '#/components/schemas/Tag'
      required:
        - generalDetails
      description:
        Model for a generic individual - different from User model by not
        having userId field
      example:
        generalDetails:
          name:
            firstName: Baran
            middleName: Realblood
            lastName: Ozkan
          dateOfBirth: 1991-01-01
          countryOfResidence: US
          countryOfNationality: DE
        legalDocuments:
          - documentType: passport
            documentNumber: Z9431P
            documentIssuedDate: 1639939034000
            documentExpirationDate: 1839939034000
            documentIssuedCountry: DE
            tags:
              - key: customerType
                value: wallet
        contactDetails:
          emailIds:
            - baran@flagright.com
          contactNumbers:
            - +371 123132
          websites:
            - flagright.com
          addresses:
            - addressLines:
                - Klara-Franke Str 20
              postcode: '10557'
              city: Berlin
              state: Berlin
              country: Germany
              tags:
                - key: customKey
                  value: customValue
        tags:
          - key: customKey
            value: customValue
    LegalDocument:
      title: LegalDocument
      required:
        - documentType
        - documentNumber
        - documentIssuedCountry
      type: object
      properties:
        documentType:
          minLength: 1
          type: string
          description: User's identity document type such as passport, national ID etc.
        documentNumber:
          minLength: 1
          type: string
          description: User's unique identity document number such as passport number
        documentIssuedDate:
          type: number
          description: User's identity document issuance date (UNIX timestamp in
            milliseconds)
          minimum: 1262300400000
          maximum: 4133890801000
        documentExpirationDate:
          type: number
          description:
            User's identity document expiration date (UNIX timestamp in
            milliseconds)
          minimum: 1262300400000
          maximum: 4133890801000
        documentIssuedCountry:
          $ref: '#/components/schemas/CountryCode'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
          description: Additional information that can be added via tags
        nameOnDocument:
          $ref: '#/components/schemas/ConsumerName'
      description:
        "LegalDocument model generalizes User's identity document type (ex:
        Passport)"
      example:
        documentType: passport
        documentNumber: Z9431P
        documentIssuedDate: 1639939034000
        documentExpirationDate: 1839939034000
        documentIssuedCountry: DE
        tags:
          - key: customerType
            value: wallet
    Tag:
      title: Tag
      required:
        - key
        - value
      type: object
      properties:
        key:
          minLength: 1
          type: string
          description: Key value when you are creating a custom variable
        value:
          minLength: 1
          type: string
          description: Value for a given key when you are creating a custom variable
      description:
        Generic key-value pair model to append a custom variable being sent
        to Flagright API
      example:
        key: customKey
        value: customValue
    EmailId:
      title: EmailId
      type: string
      description: 'Email ID format. Ex: baran@flagright.com'
    Transaction:
      allOf:
        - $ref: '#/components/schemas/TransactionBase'
        - $ref: '#/components/schemas/TransactionUpdatable'
    TransactionUpdatable:
      title: TransactionUpdatable
      type: object
      description: Model for transaction additional payload
      example:
        originAmountDetails:
          country: DE
          transactionAmount: 800
          transactionCurrency: EUR
        destinationAmountDetails:
          country: IN
          transactionAmount: 68351.34
          transactionCurrency: INR
        promotionCodeUsed: true
        timestamp: 1641654664000
        originPaymentDetails:
          method: CARD
          cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
          cardIssuedCountry: US
          transactionReferenceField: Deposit
          3dsDone: true
        destinationPaymentDetails:
          method: CARD
          cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
          cardIssuedCountry: IN
          transactionReferenceField: Deposit
          3dsDone: true
        reference: loan repayment
        originDeviceData:
          batteryLevel: 95
          deviceLatitude: 13.0033
          deviceLongitude: 76.1004
          ipAddress: 10.23.191.2
          deviceIdentifier: 3c49f915d04485e34caba
          vpnUsed: false
          operatingSystem: Android 11.2
          deviceMaker: ASUS
          deviceModel: Zenphone M2 Pro Max
          deviceYear: '2018'
          appVersion: 1.1.0
        destinationDeviceData:
          batteryLevel: 95
          deviceLatitude: 13.0033
          deviceLongitude: 76.1004
          ipAddress: 10.23.191.2
          deviceIdentifier: 3c49f915d04485e34caba
          vpnUsed: false
          operatingSystem: Android 11.2
          deviceMaker: ASUS
          deviceModel: Zenphone M2 Pro Max
          deviceYear: '2018'
          appVersion: 1.1.0
        tags:
          - key: customKey
            value: customValue
      x-examples:
        example-1:
          originAmountDetails:
            country: DE
            transactionAmount: 800
            transactionCurrency: EUR
          destinationAmountDetails:
            country: IN
            transactionAmount: 68351.34
            transactionCurrency: INR
          promotionCodeUsed: true
          timestamp: 1641654664
          originPaymentDetails:
            method: CARD
            cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
            cardIssuedCountry: US
            transactionReferenceField: Deposit
            3dsDone: true
          destinationPaymentDetails:
            method: CARD
            cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
            cardIssuedCountry: IN
            transactionReferenceField: Deposit
            3dsDone: true
          reference: loan repayment
          originDeviceData:
            batteryLevel: 95
            deviceLatitude: 13.0033
            deviceLongitude: 76.1004
            ipAddress: 10.23.191.2
            deviceIdentifier: 3c49f915d04485e34caba
            vpnUsed: false
            operatingSystem: Android 11.2
            deviceMaker: ASUS
            deviceModel: Zenphone M2 Pro Max
            deviceYear: '2018'
            appVersion: 1.1.0
          destinationDeviceData:
            batteryLevel: 95
            deviceLatitude: 13.0033
            deviceLongitude: 76.1004
            ipAddress: 10.23.191.2
            deviceIdentifier: 3c49f915d04485e34caba
            vpnUsed: false
            operatingSystem: Android 11.2
            deviceMaker: ASUS
            deviceModel: Zenphone M2 Pro Max
            deviceYear: '2018'
            appVersion: 1.1.0
          tags:
            - key: customKey
              value: customValue
      properties:
        transactionState:
          $ref: '#/components/schemas/TransactionState'
        originAmountDetails:
          $ref: '#/components/schemas/TransactionAmountDetails'
        destinationAmountDetails:
          $ref: '#/components/schemas/TransactionAmountDetails'
        originPaymentDetails:
          oneOf:
            - $ref: '#/components/schemas/CardDetails'
            - $ref: '#/components/schemas/GenericBankAccountDetails'
            - $ref: '#/components/schemas/IBANDetails'
            - $ref: '#/components/schemas/ACHDetails'
            - $ref: '#/components/schemas/SWIFTDetails'
            - $ref: '#/components/schemas/MpesaDetails'
            - $ref: '#/components/schemas/UPIDetails'
            - $ref: '#/components/schemas/WalletDetails'
            - $ref: '#/components/schemas/CheckDetails'
          description:
            Payment details of the origin. It can be a bank account number,
            wallet ID, card fingerprint etc.
        destinationPaymentDetails:
          oneOf:
            - $ref: '#/components/schemas/CardDetails'
            - $ref: '#/components/schemas/GenericBankAccountDetails'
            - $ref: '#/components/schemas/IBANDetails'
            - $ref: '#/components/schemas/ACHDetails'
            - $ref: '#/components/schemas/UPIDetails'
            - $ref: '#/components/schemas/WalletDetails'
            - $ref: '#/components/schemas/SWIFTDetails'
            - $ref: '#/components/schemas/MpesaDetails'
            - $ref: '#/components/schemas/CheckDetails'
          example:
            method: CARD
            cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
            cardIssuedCountry: TR
            transactionReferenceField: Deposit
            3dsDone: true
          description:
            Payment details of the destination. It can be a bank account
            number, wallet ID, card fingerprint etc.
        relatedTransactionIds:
          type: array
          description:
            'IDs of transactions related to this transaction. Ex: refund, split
            bills'
          items:
            type: string
        productType:
          type: string
          description: Type of produce being used by the consumer (ex wallets, payments etc)
        promotionCodeUsed:
          type: boolean
          description: Whether a promotion code was used or not the transaction
        reference:
          minLength: 1
          type: string
          description:
            Reference field for the transaction indicating the purpose of the
            transaction etc.
        originDeviceData:
          $ref: '#/components/schemas/DeviceData'
        destinationDeviceData:
          $ref: '#/components/schemas/DeviceData'
        tags:
          type: array
          description: Additional information that can be added via tags
          items:
            $ref: '#/components/schemas/Tag'
    TransactionBase:
      title: TransactionBase
      type: object
      description: Model for transaction base Payload
      example:
        transactionId: 7b80a539eea6e78acbd6d458e5971482
        type: DEPOSIT
        originUserId: 8650a2611d0771cba03310f74bf6
        destinationUserId: 9350a2611e0771cba03310f74bf6
        timestamp: 1262300400111
      x-examples:
        example-1:
          transactionId: 7b80a539eea6e78acbd6d458e5971482
          type: DEPOSIT
          originUserId: 8650a2611d0771cba03310f74bf6
          destinationUserId: 9350a2611e0771cba03310f74bf6
      properties:
        type:
          $ref: '#/components/schemas/TransactionType'
        transactionId:
          minLength: 1
          type: string
          description: Unique transaction identifier
        timestamp:
          type: number
          description: Timestamp of when transaction took place
          minimum: 1262300400000
          maximum: 4133890801000
        originUserId:
          type: string
          description: UserId for where the transaction originates from
        destinationUserId:
          type: string
          description:
            UserId for transaction's destination. In other words, where the
            value is being transferred to.
      required:
        - type
        - transactionId
        - timestamp
    TransactionWithRulesResult:
      title: TransactionWithRulesResult
      description: Model for transaction payload with rules result
      example:
        transactionId: 7b80a539eea6e78acbd6d458e5971482
        type: DEPOSIT
        originUserId: 8650a2611d0771cba03310f74bf6
        destinationUserId: 9350a2611e0771cba03310f74bf6
        originAmountDetails:
          country: DE
          transactionAmount: 800
          transactionCurrency: EUR
        destinationAmountDetails:
          country: IN
          transactionAmount: 68351.34
          transactionCurrency: INR
        promotionCodeUsed: true
        timestamp: 1641654664
        originPaymentDetails:
          method: CARD
          cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
          cardIssuedCountry: US
          transactionReferenceField: Deposit
          3dsDone: true
        destinationPaymentDetails:
          method: CARD
          cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
          cardIssuedCountry: IN
          transactionReferenceField: Deposit
          3dsDone: true
        reference: loan repayment
        originDeviceData:
          batteryLevel: 95
          deviceLatitude: 13.0033
          deviceLongitude: 76.1004
          ipAddress: 10.23.191.2
          deviceIdentifier: 3c49f915d04485e34caba
          vpnUsed: false
          operatingSystem: Android 11.2
          deviceMaker: ASUS
          deviceModel: Zenphone M2 Pro Max
          deviceYear: '2018'
          appVersion: 1.1.0
        destinationDeviceData:
          batteryLevel: 95
          deviceLatitude: 13.0033
          deviceLongitude: 76.1004
          ipAddress: 10.23.191.2
          deviceIdentifier: 3c49f915d04485e34caba
          vpnUsed: false
          operatingSystem: Android 11.2
          deviceMaker: ASUS
          deviceModel: Zenphone M2 Pro Max
          deviceYear: '2018'
          appVersion: 1.1.0
        tags:
          - key: customKey
            value: customValue
      allOf:
        - $ref: '#/components/schemas/Transaction'
        - type: object
          properties:
            executedRules:
              type: array
              items:
                $ref: '#/components/schemas/ExecutedRulesResult'
            hitRules:
              type: array
              items:
                $ref: '#/components/schemas/HitRulesDetails'
            status:
              $ref: '#/components/schemas/RuleAction'
            riskScoreDetails:
              $ref: '#/components/schemas/TransactionRiskScoringResult'
          required:
            - executedRules
            - hitRules
            - status
      x-examples:
        example-1:
          transactionId: 7b80a539eea6e78acbd6d458e5971482
          type: DEPOSIT
          originUserId: 8650a2611d0771cba03310f74bf6
          destinationUserId: 9350a2611e0771cba03310f74bf6
          originAmountDetails:
            country: DE
            transactionAmount: 800
            transactionCurrency: EUR
          destinationAmountDetails:
            country: IN
            transactionAmount: 68351.34
            transactionCurrency: INR
          promotionCodeUsed: true
          timestamp: 1641654664
          originPaymentDetails:
            method: CARD
            cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
            cardIssuedCountry: US
            transactionReferenceField: Deposit
            3dsDone: true
          destinationPaymentDetails:
            method: CARD
            cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
            cardIssuedCountry: IN
            transactionReferenceField: Deposit
            3dsDone: true
          reference: loan repayment
          originDeviceData:
            batteryLevel: 95
            deviceLatitude: 13.0033
            deviceLongitude: 76.1004
            ipAddress: 10.23.191.2
            deviceIdentifier: 3c49f915d04485e34caba
            vpnUsed: false
            operatingSystem: Android 11.2
            deviceMaker: ASUS
            deviceModel: Zenphone M2 Pro Max
            deviceYear: '2018'
            appVersion: 1.1.0
          destinationDeviceData:
            batteryLevel: 95
            deviceLatitude: 13.0033
            deviceLongitude: 76.1004
            ipAddress: 10.23.191.2
            deviceIdentifier: 3c49f915d04485e34caba
            vpnUsed: false
            operatingSystem: Android 11.2
            deviceMaker: ASUS
            deviceModel: Zenphone M2 Pro Max
            deviceYear: '2018'
            appVersion: 1.1.0
          tags:
            - key: customKey
              value: customValue
          executedRules:
            - ruleId: R-1a
              ruleName: Proof of funds for high value transactions
              ruleDescription:
                If a user makes a remittance transaction >= 1800 in EUR - ask
                for proof of funds
              ruleAction: BLOCK
              ruleHit: true
          hitRules:
            - ruleId: R-1a
              ruleName: Proof of funds for high value transactions
              ruleDescription:
                If a user makes a remittance transaction >= 1800 in EUR - ask
                for proof of funds
              ruleAction: BLOCK
    DeviceData:
      title: DeviceData
      type: object
      properties:
        batteryLevel:
          type: number
          description:
            Battery level of the device used for a transaction or event at a
            given timestamp
        deviceLatitude:
          type: number
          description: Device latitude at a give timestamp for an event or transaction
        deviceLongitude:
          type: number
          description: Device longitude at a give timestamp for an event or transaction
        ipAddress:
          minLength: 1
          type: string
          description:
            IP address of the device at a given timestamp for an event or
            transaction
        deviceIdentifier:
          minLength: 1
          type: string
          description: Device identifier number
        vpnUsed:
          type: boolean
          description: Whether VPN was used at a given timestamp for an event or transaction
        operatingSystem:
          minLength: 1
          type: string
          description:
            Operating system of the device at a given timestamp for an event or
            transaction
        deviceMaker:
          minLength: 1
          type: string
          description:
            The maker of the device at a given timestamp for an event or
            transaction
        deviceModel:
          minLength: 1
          type: string
          description:
            The model of the device at a given timestamp for an event or
            transaction
        deviceYear:
          minLength: 1
          type: string
          description:
            The year the device was manufactured at a given timestamp for an
            event or transaction
        appVersion:
          minLength: 1
          type: string
          description:
            The version of the app your user is using on their device at a
            given timestamp for an event or transaction
      description: Model for device data
    TransactionMonitoringResult:
      allOf:
        - type: object
          description: Model to convey the results of transaction monitoring
          properties:
            transactionId:
              type: string
              description: Transaction ID that the results pertain to
            status:
              $ref: '#/components/schemas/RuleAction'
            riskScoreDetails:
              $ref: '#/components/schemas/TransactionRiskScoringResult'
          required:
            - transactionId
            - status
        - $ref: '#/components/schemas/RulesResults'
      x-examples:
        example-1:
          transactionId: 7b80a539eea6e78acbd6d458e5971482
          executedRules:
            - ruleId: R-1a
              ruleName: Proof of funds for high value transactions
              ruleDescription:
                If a user makes a remittance transaction >= 1800 in EUR - ask
                for proof of funds
              ruleAction: BLOCK
              ruleHit: true
          hitRules:
            - ruleId: R-1a
              ruleName: Proof of funds for high value transactions
              ruleDescription:
                If a user makes a remittance transaction >= 1800 in EUR - ask
                for proof of funds
              ruleAction: BLOCK
    TransactionEventMonitoringResult:
      allOf:
        - type: object
          description: Model to convey the results of transaction monitoring
          properties:
            eventId:
              type: string
            transaction:
              $ref: '#/components/schemas/Transaction'
            riskScoreDetails:
              $ref: '#/components/schemas/TransactionRiskScoringResult'
          required:
            - eventId
            - transaction
        - $ref: '#/components/schemas/RulesResults'
      x-examples:
        example-1:
          eventId: 7b80a539eea6e78acbd6d458e5971482
          transaction:
            transactionId: 7b80a539eea6e78acbd6d458e5971482
            type: DEPOSIT
            originUserId: 8650a2611d0771cba03310f74bf6
            destinationUserId: 9350a2611e0771cba03310f74bf6
            originAmountDetails:
              country: DE
              transactionAmount: 800
              transactionCurrency: EUR
            destinationAmountDetails:
              country: IN
              transactionAmount: 68351.34
              transactionCurrency: INR
            promotionCodeUsed: true
            timestamp: 1641654664
            originPaymentDetails:
              method: CARD
              cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
              cardIssuedCountry: US
              transactionReferenceField: Deposit
              3dsDone: true
            destinationPaymentDetails:
              method: CARD
              cardFingerprint: 20ac00fed8ef913aefb17cfae1097cce
              cardIssuedCountry: IN
              transactionReferenceField: Deposit
              3dsDone: true
            reference: loan repayment
            originDeviceData:
              batteryLevel: 95
              deviceLatitude: 13.0033
              deviceLongitude: 76.1004
              ipAddress: 10.23.191.2
              deviceIdentifier: 3c49f915d04485e34caba
              vpnUsed: false
              operatingSystem: Android 11.2
              deviceMaker: ASUS
              deviceModel: Zenphone M2 Pro Max
              deviceYear: '2018'
              appVersion: 1.1.0
            destinationDeviceData:
              batteryLevel: 95
              deviceLatitude: 13.0033
              deviceLongitude: 76.1004
              ipAddress: 10.23.191.2
              deviceIdentifier: 3c49f915d04485e34caba
              vpnUsed: false
              operatingSystem: Android 11.2
              deviceMaker: ASUS
              deviceModel: Zenphone M2 Pro Max
              deviceYear: '2018'
              appVersion: 1.1.0
            tags:
              - key: customKey
                value: customValue
          executedRules:
            - ruleId: R-1a
              ruleName: Proof of funds for high value transactions
              ruleDescription:
                If a user makes a remittance transaction >= 1800 in EUR - ask
                for proof of funds
              ruleAction: BLOCK
              ruleHit: true
          hitRules:
            - ruleId: R-1a
              ruleName: Proof of funds for high value transactions
              ruleDescription:
                If a user makes a remittance transaction >= 1800 in EUR - ask
                for proof of funds
              ruleAction: BLOCK
      title: ''
    RulesResults:
      title: RulesResults
      type: object
      example:
        transactionId: 7b80a539eea6e78acbd6d458e5971482
        executedRules:
          - ruleId: R-1a
            ruleName: Proof of funds for high value transactions
            ruleDescription:
              If a user makes a remittance transaction >= 1800 in EUR - ask
              for proof of funds
            ruleAction: BLOCK
            ruleHit: true
        hitRules:
          - ruleId: R-1a
            ruleName: Proof of funds for high value transactions
            ruleDescription:
              If a user makes a remittance transaction >= 1800 in EUR - ask
              for proof of funds
            ruleAction: BLOCK
      x-examples:
        example-1:
          transactionId: 7b80a539eea6e78acbd6d458e5971482
          executedRules:
            - ruleId: R-1a
              ruleName: Proof of funds for high value transactions
              ruleDescription:
                If a user makes a remittance transaction >= 1800 in EUR - ask
                for proof of funds
              ruleAction: BLOCK
              ruleHit: true
          hitRules:
            - ruleId: R-1a
              ruleName: Proof of funds for high value transactions
              ruleDescription:
                If a user makes a remittance transaction >= 1800 in EUR - ask
                for proof of funds
              ruleAction: BLOCK
      properties:
        executedRules:
          type: array
          description: Unique transaction identifier
          items:
            $ref: '#/components/schemas/ExecutedRulesResult'
        hitRules:
          type: array
          description: Unique transaction identifier
          items:
            $ref: '#/components/schemas/HitRulesDetails'
      required:
        - executedRules
        - hitRules
    TransactionRiskScoringResult:
      title: TransactionRiskScoringResult
      type: object
      properties:
        trsScore:
          type: number
          description: Transaction risk scoring score
        trsRiskLevel:
          $ref: '#/components/schemas/RiskLevel'
      required:
        - trsScore
        - trsRiskLevel
    ExecutedRuleVars:
      title: ExecutedRuleVars
      type: object
      properties:
        direction:
          $ref: '#/components/schemas/RuleHitDirection'
        value:
          type: object
      required:
        - value
    ExecutedRulesResult:
      title: ExecutedRulesResult
      type: object
      example:
        ruleId: R-1a
        ruleName: Proof of funds for high value transactions
        ruleDescription:
          If a user makes a remittance transaction >= 1800 in EUR - ask
          for proof of funds
        ruleAction: BLOCK
        ruleHit: true
      description: Model for list of executed rules
      properties:
        ruleId:
          minLength: 1
          type: string
          description: Unique rule identifier
        ruleInstanceId:
          type: string
        ruleName:
          minLength: 1
          type: string
          description: Name of the rule
        ruleDescription:
          minLength: 1
          type: string
          description: Description of the rule
        ruleAction:
          $ref: '#/components/schemas/RuleAction'
        ruleHit:
          type: boolean
        ruleHitMeta:
          $ref: '#/components/schemas/RuleHitMeta'
        vars:
          type: array
          items:
            $ref: '#/components/schemas/ExecutedRuleVars'
        labels:
          type: array
          items:
            $ref: '#/components/schemas/RuleLabels'
        nature:
          $ref: '#/components/schemas/RuleNature'
        isShadow:
          type: boolean
      required:
        - ruleInstanceId
        - ruleName
        - ruleDescription
        - ruleAction
        - ruleHit
    HitRulesDetails:
      title: HitRulesDetails
      type: object
      example:
        ruleId: R-1a
        ruleName: Proof of funds for high value transactions
        ruleDescription:
          If a user makes a remittance transaction >= 1800 in EUR - ask
          for proof of funds
        ruleAction: BLOCK
        ruleHit: true
        nature: FRAUD
      description: Model for list of hit rules
      properties:
        ruleId:
          minLength: 1
          type: string
          description: Unique rule identifier
        ruleInstanceId:
          type: string
        ruleName:
          minLength: 1
          type: string
          description: Name of the rule
        ruleDescription:
          minLength: 1
          type: string
          description: Description of the rule
        ruleAction:
          $ref: '#/components/schemas/RuleAction'
        ruleHitMeta:
          $ref: '#/components/schemas/RuleHitMeta'
        labels:
          type: array
          items:
            $ref: '#/components/schemas/RuleLabels'
        nature:
          $ref: '#/components/schemas/RuleNature'
        isShadow:
          type: boolean
      required:
        - ruleInstanceId
        - ruleName
        - ruleDescription
        - ruleAction
    FailedRulesResult:
      title: FailedRulesResult
      type: object
      example:
        ruleId: R-1a
        ruleName: Proof of funds for high value transactions
        ruleDescription:
          If a user makes a remittance transaction >= 1800 in EUR - ask
          for proof of funds
        failureException:
          exceptionName: MISSING_DATA
          exceptionDescription: Some data is missing
      description: Model for list of rules failed execution. It means rules could not be run
      properties:
        ruleId:
          minLength: 1
          type: string
          description: Unique rule identifier
        ruleName:
          minLength: 1
          type: string
          description: Name of the rule
        ruleDescription:
          minLength: 1
          type: string
          description: Description of the rule
        failureException:
          $ref: '#/components/schemas/RuleFailureException'
      required:
        - ruleId
        - ruleName
        - ruleDescription
        - failureException
    RuleFailureException:
      title: RuleFailureException
      required:
        - exceptionName
        - exceptionDescription
      type: object
      properties:
        exceptionName:
          minLength: 1
          type: string
          description: Unique rule identifier
        exceptionDescription:
          minLength: 1
          type: string
          description: Name of the rule
      example:
        exceptionName: MISSING_DATA
        exceptionDescription: Some data is missing
    ConsumerName:
      title: ConsumerName
      required:
        - firstName
      type: object
      properties:
        firstName:
          minLength: 1
          type: string
          description: First name of the user
        middleName:
          minLength: 1
          type: string
          description: Middle name of the user
        lastName:
          minLength: 1
          type: string
          description: Last name of the user
      description: Model for a generic consumer name
      example:
        firstName: Baran
        middleName: Realblood
        lastName: Ozkan
    TransactionAmountDetails:
      title: TransactionAmountDetails
      type: object
      example:
        country: DE
        transactionAmount: 800
        transactionCurrency: EUR
      description: Model for transaction amount details
      properties:
        transactionAmount:
          type: number
          description: Amount of the transaction
        transactionCurrency:
          $ref: '#/components/schemas/CurrencyCode'
        country:
          $ref: '#/components/schemas/CountryCode'
      required:
        - transactionAmount
        - transactionCurrency
    Amount:
      title: Amount
      type: object
      example:
        amountValue: 800
        amountCurrency: GBP
      description: Model for amount
      properties:
        amountValue:
          type: number
          description: Numerical value of the transaction
        amountCurrency:
          $ref: '#/components/schemas/CurrencyCode'
      required:
        - amountValue
        - amountCurrency
    LegalEntity:
      title: LegalEntity
      type: object
      description: Model for business user legal entity details
      properties:
        companyGeneralDetails:
          $ref: '#/components/schemas/CompanyGeneralDetails'
        companyFinancialDetails:
          $ref: '#/components/schemas/CompanyFinancialDetails'
        companyRegistrationDetails:
          $ref: '#/components/schemas/CompanyRegistrationDetails'
        reasonForAccountOpening:
          type: array
          items:
            type: string
        sourceOfFunds:
          type: array
          items:
            $ref: '#/components/schemas/SourceOfFunds'
        contactDetails:
          $ref: '#/components/schemas/ContactDetails'
      required:
        - companyGeneralDetails
    SourceOfFunds:
      title: SourceOfFunds
      type: string
      enum:
        - Earnings
        - Savings
        - Investments/Deposits
        - Wealth
        - Gift
        - Pension
        - Inheritance
        - Gambling
        - Benefits
        - Passive
        - Family
        - Insurance
        - Legal
        - Sales
        - Rollover
        - Equity
        - Crypto
        - Business
        - Employment
    ContactDetails:
      title: ContactDetails
      type: object
      description: Model for business user contact information details
      properties:
        emailIds:
          type: array
          description: Email addresses of the contacts for a given business customer
          items:
            type: string
        contactNumbers:
          type: array
          description: Phone numbers to contact a given business customer
          items:
            type: string
        faxNumbers:
          type: array
          description: Fax numbers to contact a business customer
          items:
            type: string
        websites:
          type: array
          description: Website of the company
          items:
            type: string
        addresses:
          type: array
          description: Address(es) of the company
          items:
            $ref: '#/components/schemas/Address'
    CompanyFinancialDetails:
      title: CompanyFinancialDetails
      type: object
      example:
        expectedTransactionAmountPerMonth:
          amountValue: 800
          amountCurrency: GBP
        expectedTurnoverPerMonth:
          amountValue: 8000
          amountCurrency: USD
      description: Model for business user company financial details
      properties:
        expectedTransactionAmountPerMonth:
          $ref: '#/components/schemas/Amount'
        expectedTurnoverPerMonth:
          $ref: '#/components/schemas/Amount'
        tags:
          type: array
          description: Additional information that can be added via tags
          items:
            $ref: '#/components/schemas/Tag'
    UserDetails:
      title: UserDetails
      type: object
      example:
        name:
          firstName: Baran
          middleName: Realblood
          lastName: Ozkan
        dateOfBirth: 1991-01-01
        countryOfResidence: US
        countryOfNationality: DE
      description: Model for consumer user personal details
      properties:
        name:
          $ref: '#/components/schemas/ConsumerName'
        dateOfBirth:
          type: string
          pattern: ^(\d{4}-\d{2}-\d{2})*$
          description: Date of birth of the user (YYYY-MM-DD)
        countryOfResidence:
          $ref: '#/components/schemas/CountryCode'
        countryOfNationality:
          $ref: '#/components/schemas/CountryCode'
        gender:
          $ref: '#/components/schemas/Gender'
      required:
        - name
    UserRegistrationStatus:
      title: UserRegistrationStatus
      type: string
      enum:
        - REGISTERED
        - UNREGISTERED
    BusinessUserSegment:
      title: BusinessUserSegment
      type: string
      enum:
        - SOLE_PROPRIETORSHIP
        - LIMITED
        - SMB
        - SMALL
        - MEDIUM
        - LARGE
        - UNKNOWN
    CompanyGeneralDetails:
      title: CompanyGeneralDetails
      type: object
      example:
        legalName: Ozkan Hazelnut Export JSC
        businessIndustry:
          - Farming
        mainProductsServicesSold:
          - Hazelnut
      description: Model for business user company general details
      properties:
        legalName:
          minLength: 1
          type: string
          description: Legal name of the company
        businessIndustry:
          type: array
          description: The industry in which the business operates for a business customer
          items:
            type: string
        mainProductsServicesSold:
          type: array
          description: The key products and services provided by the company
          items:
            type: string
        userSegment:
          $ref: '#/components/schemas/BusinessUserSegment'
          description: Segmentation of the business user
        userRegistrationStatus:
          $ref: '#/components/schemas/UserRegistrationStatus'
        tags:
          type: array
          description: Additional information that can be added via tags
          items:
            $ref: '#/components/schemas/Tag'
      required:
        - legalName
    CompanyRegistrationDetails:
      title: CompanyRegistrationDetails
      type: object
      example:
        registrationIdentifier: PSJ554342
        registrationCountry: DE
      description: Model for business user company registration details
      properties:
        registrationIdentifier:
          minLength: 1
          type: string
          description:
            Commercial registry registration number for the company in its
            registration country
        registrationCountry:
          $ref: '#/components/schemas/CountryCode'
        taxIdentifier:
          type: string
          description: Tax ID number of the registered entity
        legalEntityType:
          type: string
          description: Type of legal entity, e.g., Limited Liability
        dateOfRegistration:
          type: string
          pattern: ^(\d{4}-\d{2}-\d{2})*$
        tags:
          type: array
          description: Additional information that can be added via tags
          items:
            $ref: '#/components/schemas/Tag'
      required:
        - registrationIdentifier
        - registrationCountry
    Business:
      allOf:
        - $ref: '#/components/schemas/BusinessBase'
        - $ref: '#/components/schemas/BusinessOptional'
    BusinessBase:
      title: BusinessBase
      type: object
      example:
        createdTimestamp: 1641654664000
        userId: 96647cfd9e8fe66ee0f3362e011e34e8
        legalEntity:
          companyGeneralDetails:
            legalName: Ozkan Hazelnut Export JSC
            businessIndustry:
              - Farming
            mainProductsServicesSold:
              - Hazelnut
          companyFinancialDetails:
            expectedTransactionAmountPerMonth:
              amountValue: 800
              amountCurrency: GBP
            expectedTurnoverPerMonth:
              amountValue: 8000
              amountCurrency: USD
          companyRegistrationDetails:
            registrationIdentifier: PSJ554342
            registrationCountry: DE
          reasonForAccountOpening:
            - string
          contactDetails:
            addresses:
              - addressLines:
                  - Klara-Franke Str 20
                postcode: '10557'
                city: Berlin
                state: Berlin
                country: Germany
                tags:
                  - key: customKey
                    value: customValue
        shareHolders:
          - generalDetails:
              name:
                firstName: Baran
                middleName: Realblood
                lastName: Ozkan
              dateOfBirth: 1991-01-01
              countryOfResidence: US
              countryOfNationality: DE
            legalDocuments:
              - documentType: passport
                documentNumber: Z9431P
                documentIssuedDate: 1639939034000
                documentExpirationDate: 1839939034000
                documentIssuedCountry: DE
                tags:
                  - key: customerType
                    value: wallet
            contactDetails:
              emailIds:
                - baran@flagright.com
              contactNumbers:
                - +371 123132
              websites:
                - flagright.com
              addresses:
                - addressLines:
                    - Klara-Franke Str 20
                  postcode: '10557'
                  city: Berlin
                  state: Berlin
                  country: Germany
                  tags:
                    - key: customKey
                      value: customValue
            tags:
              - key: customKey
                value: customValue
        directors:
          - generalDetails:
              name:
                firstName: Baran
                middleName: Realblood
                lastName: Ozkan
              dateOfBirth: 1991-01-01
              countryOfResidence: US
              countryOfNationality: DE
            legalDocuments:
              - documentType: passport
[...]
