.root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.menu {
}

.alertCreatedFor {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.alertCreationLogic {
  width: 300px;
}
