@import 'src/components/ui/colors.less';

.root {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.statusDisplay {
  border-radius: 54px;
  height: 12px;
  width: 12px;
}

.warning {
  background-color: @fr-colors-v2-sla-warning;
}

.breached {
  background-color: @fr-colors-v2-sla-breached;
}

.ok {
  background-color: @fr-colors-v2-sla-ok;
}
