@import 'src/components/ui/colors.less';
.statusDisplay {
  border-radius: 54px;
  height: 12px;
  width: 12px;
  cursor: pointer;
}

.warning {
  background-color: @fr-colors-v2-sla-warning;
}

.breached {
  background-color: @fr-colors-v2-sla-breached;
}

.ok {
  background-color: @fr-colors-v2-sla-ok;
}
