@import 'src/components/ui/colors.less';

.actionsMenu {
  padding: 0 !important;
}

.actionsMenuItem {
  --bg-color: @fr-colors-v2-unknown-1;

  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  position: relative;
  font-size: 14px !important;
  height: 30px;
}

.deleteButton {
  color: @fr-colors-errorColor;
}
.actionIcons {
  height: 30px;
  width: 30px;
  font-size: 20px !important;
  padding: 5px;
  color: @fr-colors-v2-gray-8;
}
