@import 'src/components/ui/colors';

.icon {
  display: flex;
  align-items: center;
  svg {
    height: 1rem !important;
  }
}
.connected {
  height: 0.5rem;
  width: 0.5rem;
  margin-left: 0.15rem;
  border-radius: 50%;
  background-color: @fr-colors-connected;
}

.crmIcon {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  display: inline-block;

  svg {
    display: block;
  }
}
