@import 'src/components/ui/colors.less';

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.deletedModalContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.emailVerified {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.tag {
  background: @fr-colors-v2-highlight-flagrightBlue;
  border-color: @fr-colors-v2-highlight-stroke;
  color: black;
}

.roleTags > * {
  padding: 4px;
}

.email {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
