@import 'src/components/ui/colors';

.iconTrue {
  display: flex;
  width: 14px;
  height: 14px;
  color: @fr-colors-brandBlue;
}

.iconFalse {
  display: flex;
  width: 14px;
  height: 14px;
  color: @fr-colors-red;
}

.tag {
  color: @fr-colors-gray-2;
  display: flex;
  gap: 3px;
  align-items: center;
}
