@import 'src/components/ui/colors';

.subtitle {
  padding: 8px 12px;
  color: @fr-colors-brandBlue;
  font-weight: 600;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    opacity: 0.8;
  }
}

.nothingFound {
  padding: 8px 20px;
  color: @fr-colors-purpleGray;
  text-align: center;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
