@import 'src/components/ui/colors.less';
@import 'src/components/ui/animation.less';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  min-height: 32px;

  &.filtersVisible {
    .right {
      border-left: 1px solid @fr-colors-v2-gray-2;
    }
  }
}

.right {
  padding-left: 20px;
  display: flex;
  gap: 20px;
}
