.root {
  display: grid;
  gap: 40px;
  margin-top: 24px;
}

.labelItem {
  display: flex;
  justify-content: space-between;
  max-width: 550px;
}

.inputItem {
  display: flex;
  gap: 16px;
}

.aliasLabel {
  margin-bottom: 0;
}

.inputContainer {
  width: 300px;
}
