@import 'src/components/ui/colors';

.root {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > span {
  font-weight: 600;
}

.info {
  color: @fr-colors-brandBlue;
}

.chart {
  padding: 4px 0;
  max-height: 400px;
  overflow-y: auto;
}
