@import 'src/components/ui/colors.less';
@import 'src/components/ui/animation.less';

@bg-color: @fr-global-bg-color;

.root {
  background: @bg-color;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.copilotContainer {
  flex: 1;
  position: relative;
}
