@import 'src/components/ui/colors';

@border-color: @fr-colors-v2-gray-2;

.root {
  &.mode-VIEW {
    :global {
      .rule {
        background: transparent;
        padding: 0;
      }
      .rule--body {
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        align-items: center;

        > *:first-child {
          margin-left: -20px;
        }
      }
      .rule--operator {
        flex: unset;
        margin: 0;
      }
      .rule--header {
        display: none;
      }
      .rule--field {
        max-width: unset;
        min-width: unset;
        width: unset;
        flex: unset;
      }
      .rule--func--wrapper {
        display: contents;
      }
      .rule--field-wrapper {
        align-items: center;
      }
      .rule--func {
        min-width: unset;
        margin-bottom: 0;
      }
      .widget--widget {
        margin-bottom: 0;
      }
      .rule--func--args {
        display: contents;
      }
      .rule--func--bracket-before,
      .rule--func--bracket-after {
        display: inline-block;
        margin-bottom: 0;
        height: 100%;
        align-self: center;
      }
      .rule--func--arg-sep {
        display: inline-block;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
        align-self: flex-end;
      }
      .group--conjunctions {
        font-size: 12px;
        padding: 0 4px;
        height: 18px;
      }
    }
  }

  &.hideConjunctions {
    :global {
      .group--header {
        display: none;
      }

      .group-or-rule {
        &::before,
        &::after {
          display: none;
        }
      }

      .query-builder {
        > .group-container {
          > .group-or-rule {
            > .group--children {
              padding-left: 0;
            }
            > .group--footer {
              > .group--actions {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
  :global {
    .rule--label {
      display: none;
    }
    .group {
      background: transparent;
      border: none;
    }
    .rule {
      display: flex;
      align-items: flex-start;
    }
    .rule_group_ext {
      // @fr-colors-v2-highlight-flagrightBlue with opacity 0.5
      background-color: rgba(240, 244, 251, 0.5);
      padding: 5px 10px 5px 5px;
    }
    .rule--header,
    .rule--drag-handler,
    .rule--fieldsrc,
    .widget--valuesrc {
      margin-top: 34px;
    }
    .rule--body {
      text-align: left;
      gap: 12px;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: minmax(32ch, 1.5fr) minmax(120px, min-content) minmax(20ch, 1fr);
    }

    .rule--field-wrapper,
    .rule--widget {
      display: flex !important;
    }

    .rule--field {
      min-width: 120px;
      flex: 1;
      flex-grow: 1;
    }
    .rule--operator {
      flex: 1;
      margin-left: 24px;
      margin-right: 0;
    }
    .rule--operator-options {
      .rule--operator {
        margin-left: 0;
      }
    }
    .rule--func {
      min-width: 120px;
    }
    .rule--value {
      flex: 2;
      .widget--widget {
        margin-bottom: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
      .rule--widget--NUMBER {
        display: flex;
      }
    }
    .widget--has-valuesrcs {
      min-width: 120px;
    }
    .group--actions {
      display: flex;
      gap: 8px;
      margin-left: 14px;
      align-items: center;
      margin-top: auto;
      margin-bottom: 5px;
    }
    .group--field--count--rule {
      gap: 8px;
    }
    .group--conjunctions {
      background: @fr-colors-v2-case-alert-status-fills-in-review;
      padding: 0 8px;
      gap: 8px;
      display: flex;
      align-items: center;
      border-radius: 2px;
      height: 24px;
      margin-right: 8px;

      .group--drag-handler {
        margin-right: 0;
        margin-top: 0;
        margin-left: 0;
      }

      label {
        margin-left: 4px;
        text-transform: uppercase;

        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }
    .group-or-rule-container {
      padding-right: 0;
    }
    .group--children {
      > .group-or-rule-container {
        &:first-child {
          > .group-or-rule {
            &::before {
              border-radius: 0 !important;
            }
          }
        }

        > .group-or-rule {
          &::after {
            border-color: @border-color;
            border-width: 0 0 0 1px;
          }

          &::before {
            border-color: @border-color;
            border-width: 0 0 1px 1px;
          }

          &.group::before {
            left: -13px !important;
            width: 24px;
          }
          &.group::after {
            left: -13px !important;
          }
        }
      }
    }

    .group--header.one--child.hide--conjs {
      .group--conjunctions {
        display: none;
      }
    }
    .group--header:not(.no--children)::before {
      border-color: @border-color !important;
      border-width: 0 0 0 1px;
      top: 23px;
      gap: 8px;
    }
    .query-builder {
      margin: 0 !important;
      overflow: visible !important;

      > .group-container {
        padding-right: 0 !important;

        > .group-or-rule {
          > .group--header {
            margin-top: 0;
            padding-left: 0;
            padding-right: 0;

            &::before {
              left: 1px;
            }
          }
          > .group--children {
            padding-left: 14px;
            &.hide--conjs {
              padding-left: 0;

              + .group--footer {
                > .group--actions {
                  margin-left: 0;
                }
              }
            }
          }
          > .group--footer {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 0;
          }
        }

        .group-container {
          .group--children.hide--conjs {
            padding-left: 11px;

            + .group--footer {
              padding-left: 0;

              > .group--actions {
                margin-left: 11px;
              }
            }
          }
        }
      }
    }
    .rule--func--wrapper {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    .rule--func--bracket-before {
      display: none;
    }
    .rule--func--bracket-after {
      display: none;
    }
    .rule--func--arg-sep {
      display: none;
    }
  }

  &.mode-EDIT {
    :global {
      .rule {
        background: @fr-colors-v2-highlight-flagrightBlue !important;
      }

      .rule--body {
        display: flex;
      }

      .rule--field-wrapper {
        flex: 2;
      }

      .rule--field {
        min-width: 120px;
        flex: 1;
      }
      .rule--operator {
        flex-basis: 125px;
        flex-grow: 0;
        margin-left: 0;
      }
      .rule--operator-options {
        .rule--operator {
          margin-left: 0;
        }
      }
      .rule--func {
        min-width: 120px;
      }
      .widget--widget {
        flex: 1;
      }
      .rule--value {
        &:has(.rule--widget) {
          flex: 2;
        }
        .rule--widget--DATETIME .widget--has-no-valuesrcs,
        .rule--widget--TIME .widget--has-no-valuesrcs {
          min-width: 228px;
          width: auto;
        }
      }

      .rule--func--wrapper {
        flex: 1;
        align-items: stretch;
      }
    }
  }
}

.selectedConjunction {
  display: flex;
  align-items: center;
  font-weight: 600;

  &.isDisabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .arrowIcon {
    width: 16px;
  }
}

.selectedValueSource {
  .arrowIcon {
    opacity: 1;
    width: 24px;
    color: @fr-colors-v2-gray-6;
  }
}

.delRuleButton {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  > svg {
    width: 16px;
  }
}

.operatorParametersContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: 0.5rem;
}

.label {
  display: flex;
  gap: 5px;
  white-space: pre-wrap;
  align-items: center;

  svg {
    width: 18px;
  }
}

.icon {
  width: 16px;
  height: 20px;
  cursor: pointer;
}

.variableSelects {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 10px;
}
