@import 'src/components/ui/colors';

.sizeWrapper {
  display: flex;
  flex-direction: column;
}

.icon {
  display: flex;
  align-items: center;
  svg {
    height: 1rem !important;
  }
}

.connected {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: @fr-colors-connected;
}
