@import '~antd/es/style/themes/default.less';

.root {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.risks {
  gap: 12px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  min-width: 270px;
}

.attributes {
  display: flex;
  gap: 16px 24px;
  flex: 1;
  flex-wrap: wrap;
}

.attribute {
  width: fit-content;
  max-width: 250px;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
