@import '../../../components/ui/colors.less';

.root {
  display: flex;
  gap: 12px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-size: cover;
}

.footer {
  display: flex;
  gap: 16px;
}

.footerText {
  color: @fr-colors-v2-gray-6;
  font-size: 12px;
  line-height: 20px;
}
