.tableSelectionFooter {
  display: flex;
  width: 100%;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
  padding: 0;
  padding-top: 8px;
  background-color: white;
}

.selectionInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selectionActions {
  display: flex;
  gap: 16px;
  align-items: center;
}

.tooltipIcon {
  width: 16px;
  color: black;
  flex-shrink: 0;
  align-items: center;
}
