@import 'src/components/ui/colors.less';

.mode-TEXT {
  :global {
    .ant-select-arrow,
    .ant-select-selection-placeholder,
    .ant-select-item-option-content,
    .ant-select-selection-item {
      color: @fr-colors-brandBlue !important;
    }

    .ant-select-selector {
      border: none !important;
      background: none !important;
    }
  }
}
