@import 'src/components/ui/colors.less';

.level {
  display: flex;
  align-items: center;
}

.level > :not(:last-child) {
  margin-right: 8px;
}

.root {
  &.level-VERY-LOW {
    border-color: @fr-colors-v2-risk-level-base-very-low;
    background-color: @fr-colors-v2-risk-level-bg-very-low;
    color: @fr-colors-v2-gray-10;
  }
  &.level-LOW {
    border-color: @fr-colors-v2-risk-level-base-low;
    background-color: @fr-colors-v2-risk-level-bg-low;
    color: @fr-colors-v2-gray-10;
  }
  &.level-MEDIUM {
    border-color: @fr-colors-v2-risk-level-base-medium;
    background-color: @fr-colors-v2-risk-level-bg-medium;
    color: @fr-colors-v2-gray-10;
  }
  &.level-HIGH {
    border-color: @fr-colors-v2-risk-level-base-high;
    background-color: @fr-colors-v2-risk-level-bg-high;
    color: @fr-colors-v2-gray-10;
  }
  &.level-VERY_HIGH {
    border-color: @fr-colors-v2-risk-level-base-very-high;
    background-color: @fr-colors-v2-risk-level-bg-very-high;
    color: @fr-colors-v2-gray-10;
  }
  &.inActive {
    border-color: @fr-colors-v2-state-disabled;
    background-color: @fr-colors-v2-state-disabled;
    color: @fr-colors-v2-gray-10;
  }
}
