@import 'src/components/ui/colors.less';

.root {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 8px;
  background: linear-gradient(94deg, rgba(72, 40, 222, 0.06) 3.6%, rgba(219, 23, 176, 0.06) 100%);
  gap: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brainIcon {
  width: 16px;
}

.title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  line-height: 24px;
}
