.riskFactorLogicModal {
  display: flex;
  width: 30rem;
  height: auto;
  min-height: 5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 2px 2px 36px 0 #0000001f;
  flex-direction: column;
  gap: 0.5rem;
  .title {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 170%;
  }
}

.infoIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.riskFactorName {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
