@import 'src/components/ui/colors';

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons {
  display: grid;
  gap: 12px;
  grid-auto-flow: column;
}
