.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex: 1;
}

.bottom {
}

.buttons {
  display: flex;
  gap: 8px;
  align-items: center;
}
