@import 'src/components/ui/colors';
@import 'src/components/ui/animation';

.root {
  position: relative;
  overflow: hidden;
  transition: height @default-animation-speed;
}

.content {
  position: absolute;
  width: 100%;
}
