@import 'src/components/ui/colors';

.root {
  display: flex;
  gap: 8px;
  align-items: center;
  min-height: 32px;
  padding: 6px 8px;
  border: 1px solid black;
  border-radius: 4px;

  &:not(:disabled) {
    cursor: pointer;
  }

  &.isActive {
    //box-shadow: 0 -1px 6px 0 fade(@fr-colors-purpleGray, 25%);
  }

  &.color-GREEN {
    background: @fr-colors-limeGreenTint;
    border-color: fade(@fr-colors-limeGreenShade, 45%);

    .icon,
    .clearIcon {
      color: fade(@fr-colors-limeGreenShade, 85%);
    }
  }

  &.color-ORANGE {
    background: @fr-colors-orangeTint;
    border-color: fade(@fr-colors-orange, 45%);

    .icon,
    .clearIcon {
      color: fade(@fr-colors-orange, 85%);
    }
  }

  &.color-BLUE {
    background: @fr-colors-navyBlueTint;
    border-color: fade(@fr-colors-navyBlue, 45%);

    .icon,
    .clearIcon {
      color: fade(@fr-colors-navyBlue, 85%);
    }
  }

  &.color-TURQUOISE {
    background: @fr-colors-turquoiseTint;
    border-color: fade(@fr-colors-purpleGray, 45%);

    .icon,
    .clearIcon {
      color: fade(@fr-colors-purpleGray, 85%);
    }
  }

  &.color-SKY_BLUE {
    background: @fr-colors-skyBlueTint;
    border-color: fade(@fr-colors-skyBlue, 45%);

    .icon,
    .clearIcon {
      color: fade(@fr-colors-skyBlue, 85%);
    }
  }

  &.color-LEAF_GREEN {
    background: @fr-colors-leafGreenTint;
    border-color: fade(@fr-colors-leafGreen, 45%);

    .icon,
    .clearIcon {
      color: fade(@fr-colors-leafGreen, 85%);
    }
  }
}

.icon {
  display: flex;
  flex-shrink: 0;
  width: 14px;
}

.clearIcon {
  width: 16px;
}

.children {
  max-width: 150px;
  overflow: hidden;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
