:root{
    .footer{
        color: white !important;
        opacity: 45%;
        background: transparent;
    }
        .ant-pro-global-footer-copyright{
            color: white !important;
        }
}