@import 'src/components/ui/colors';

.loadingCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
}

.widthFull {
  width: 100%;
}

.widthHalf {
  width: 50%;
}

.loader {
  display: flex;
  gap: 8px;
}

.failed {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.progressInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progressDetails {
  display: flex;
  gap: 8px;
}

.divider {
  width: 1px;
  background-color: @fr-colors-v2-gray-2;
}
