@import 'src/components/ui/colors.less';

.root {
  display: flex !important;
  gap: 8px;
  align-items: center;
  justify-content: center;

  &.typeSkeleton {
    color: fade(white, 85%) !important;
    background: transparent !important;
    border-color: fade(white, 85%) !important;
    border-radius: 4px;

    &:disabled {
      opacity: 0.8;
      pointer-events: none;
    }
  }

  &.size-small {
    gap: 4px;

    .icon {
      width: 16px;
      height: 16px;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
}
