.root {
  &.typeSkeleton {
    color: fade(white, 85%) !important;
    background: transparent !important;
    border-color: fade(white, 85%) !important;
    border-radius: 4px;

    &:disabled {
      opacity: 0.8;
      pointer-events: none;
    }
  }
}
