.rowLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.columnLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.rowLayout > div {
  width: 100%;
}
