@import 'src/components/ui/colors';

.idColumn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem !important;
}

.expandedRow {
  padding: 12px;
}
