@import 'src/components/ui/colors';

.root {
  flex: 1;
}

.idColumn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  overflow-wrap: anywhere;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem !important;
}
