@import 'src/components/ui/colors.less';

.details {
  background-color: #fff;
  color: #000;
  padding: 15px;
  max-height: 202px;
  overflow-y: auto;
}

.properties {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.2rem;
  font-size: 12px;
}
