.root {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  margin-top: 24px;
}

.aliasLabel {
  margin-bottom: 0;
}

.inputContainer {
  width: 300px;
}

.inputItem {
  display: flex;
  gap: 16px;
}
