.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.userRange {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: 100%;
}
.userRangeSlider {
  flex: 1;
}
.scoreRange {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.rangeText {
  margin-top: 4px;
}
.cardRoot {
  border-radius: 4px;
}
.iconsContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.icon {
  height: 16px;
  width: 16px;
  color: black;
}
.iterationTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.iterationDetailsRoot {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.iterationSection {
  border: 0 !important;
}
.samplingDetailsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.sampleProperty {
  display: flex;
  flex-direction: column;
}
