.root {
  display: flex;
  gap: 1rem;
}

.PhoneNumberTypeCode,
.PhoneNumberExtensionText,
.PhoneNumberText {
  display: grid;
}

.PhoneNumberTypeCode {
  flex-basis: 132px;
}

.PhoneNumberExtensionText {
  flex-basis: 90px;
}

.PhoneNumberText {
  flex-basis: 170px;
}
