@import '~antd/es/style/themes/default.less';

.root {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.status {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
