.items {
  display: grid;
  position: relative;
  grid-template-columns:
    minmax(150px, 300px) minmax(120px, min-content) auto minmax(120px, min-content)
    100px;
  gap: 2rem;
  margin-left: 250px;
  margin-top: -75px;
}

.root {
  width: 270px;
}
