import { Permission } from "@/@types/openapi-internal/Permission";

export function getApiRequiredPermissions(resource: string, method: string): Permission[] {
    return {{#lambda.uppercase}}{{#lambda.snakecase}}{{api}}{{/lambda.snakecase}}{{/lambda.uppercase}}_PERMISSIONS[`${resource}-${method}`]
}

export const {{#lambda.uppercase}}{{#lambda.snakecase}}{{api}}{{/lambda.snakecase}}{{/lambda.uppercase}}_PERMISSIONS: {[key: string]: Permission[]} = {
{{#operations}}
  {{#operation}}
    "{{path}}-{{httpMethod}}":  [
        {{#vendorExtensions.x-flagright.permissions}}
        "{{.}}"{{^-last}},{{/-last}}
        {{/vendorExtensions.x-flagright.permissions}}
      ]{{^-last}},{{/-last}}
  {{/operation}}
{{/operations}}
}