@import 'src/components/ui/colors.less';
@import 'src/components/ui/animation.less';

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 32px;
  margin-bottom: 16px;

  &.filtersVisible {
    .right {
      border-left: 1px solid @fr-colors-v2-gray-2;
    }
  }

  &.externalHeader {
    position: absolute;
    top: 0;
    width: fit-content;
    right: 0;
    margin-bottom: 0;
    transform: translateY(-100%);
  }
}

.right {
  display: flex;
  gap: 20px;
  padding-left: 20px;
}
