@import 'src/components/ui/colors.less';

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  right: 25px;
  right: 10px;
}
.items {
  margin-bottom: 15px;
}

.all {
  margin-left: 20px;
}

.col {
  width: 170px;
}
