@import 'src/components/ui/colors';

.root {
  display: flex;
  flex-direction: column;
  //background: var(--storybook-color-1);
  flex: 1;
}

.item {
  padding: 1rem;
  opacity: 0.8;

  &,
  &:hover {
    color: @fr-colors-v2-gray-8;
  }

  &.isActive {
    font-weight: bold;
    opacity: 1;
    color: black;
  }
}
