.footer {
  display: flex;
  justify-content: flex-end;
}

.footerButtons {
  display: flex;
  flex-direction: row;
  gap: 8px;

  button {
    width: max-content;
  }
}

.icon {
  height: 1rem;
  width: 1rem;
}

.sticky_footer {
  position: sticky;
  bottom: 0;
  background-color: white !important;
}
