@figma-vars--primitives-pGrays400: #F4F4F5;
@figma-vars--primitives-primaryBlueTints900: #1169F9;
@figma-vars--primitives-primaryBlueShades200: #131F40;
@figma-vars--primitives-primaryBlueTints300: #87B3FB;
@figma-vars--primitives-primaryBlueShades900: #1169F9;
@figma-vars--primitives-primaryBlueTints600: #5996FB;
@figma-vars--primitives-primaryBlueTints100: #DFE6F2;
@figma-vars--primitives-primaryBlueTints500: #70A5FB;
@figma-vars--primitives-componentTintsMustard: #FBF1D5;
@figma-vars--primitives-componentTintsLavender: #EEEBFA;
@figma-vars--primitives-componentTintsTealBlue: #E5F8FF;
@figma-vars--primitives-componentTintsSeaGreen: #D7F0E8;
@figma-vars--primitives-componentTintsCharcoal: #DFE6F2;
@figma-vars--primitives-componentTintsBrickRed: #F2E0E0;
@figma-vars--primitives-componentTintsTangerine: #F7D8C1;
@figma-vars--primitives-componentShadesMustard: #EFC34F;
@figma-vars--primitives-componentShadesLavender: #8B75F2;
@figma-vars--primitives-componentShadesTealBlue: #267999;
@figma-vars--primitives-componentShadesSeaGreen: #56BE9F;
@figma-vars--primitives-componentShadesCharcoal: #2A374D;
@figma-vars--primitives-componentShadesBrickRed: #AD3C3C;
@figma-vars--primitives-componentShadesTangerine: #E47E30;
@figma-vars--primitives-componentTintsCerulean: #E9F3FD;
@figma-vars--primitives-componentShadesCerulean: #4FA2EF;
@figma-vars--primitives-componentShadesLeafGreen: #AAD246;
@figma-vars--primitives-componentShadesYellow: #EED23F;
@figma-vars--primitives-componentShadesOrange: #E47E30;
@figma-vars--primitives-componentShadesLimeGreen: #B2B3AF;
@figma-vars--primitives-componentShadesRed: #E93134;
@figma-vars--primitives-componentTintsLimeGreen: #F1F6D6;
@figma-vars--primitives-componentTintsLeafGreen: #E6F2C8;
@figma-vars--primitives-componentTintsYellow: #FAF2C5;
@figma-vars--primitives-componentTintsOrange: #F7D8C1;
@figma-vars--primitives-componentTintsRed: #F8C1C2;
@figma-vars--primitives-primaryBlueShades700: #1555BB;
@figma-vars--primitives-pGrays700: #C6C6C6;
@figma-vars--primitives-pGrays50: #FFFFFF;
@figma-vars--primitives-primaryBlueTints50: #F0F4FB;
@figma-vars--primitives-alertsAlertRed: #D42A2A;
@figma-vars--primitives-alertsAlertYellow: #EFBE12;
@figma-vars--primitives-alertsAlertGreen: #1BA543;
@figma-vars--primitives-pGrays1300: #262626;
@figma-vars--primitives-pGrays1500: #000000;
@figma-vars--primitives-pGrays800: #A8A8A8;
@figma-vars--colorSemantic-gray800: @figma-vars--primitives-pGrays800;
@figma-vars--primitives-pGrays500: #E7E7E7;
@figma-vars--colorSemantic-gray500: @figma-vars--primitives-pGrays500;
@figma-vars--primitives-pGrays200: #F8F9FA;
@figma-vars--colorSemantic-gray200: @figma-vars--primitives-pGrays200;
@figma-vars--primitives-pGrays900: #8D8D8D;
@figma-vars--colorSemantic-gray900: @figma-vars--primitives-pGrays900;
@figma-vars--colorSemantic-generalFlagrightBlue: @figma-vars--primitives-primaryBlueTints900;
@figma-vars--colorSemantic-stateHover: @figma-vars--primitives-primaryBlueShades700;
@figma-vars--primitives-pGrays600: #E0E0E0;
@figma-vars--colorSemantic-gray600: @figma-vars--primitives-pGrays600;
@figma-vars--colorSemantic-highlightFill: @figma-vars--primitives-primaryBlueTints50;
@figma-vars--primitives-pGrays100: #FAFAFA;
@figma-vars--primitives-pGrays300: #F4F4F4;
@figma-vars--primitives-pGrays1000: #6F6F6F;
@figma-vars--primitives-pGrays1100: #525252;
@figma-vars--primitives-pGrays1200: #393939;
@figma-vars--primitives-pGrays1400: #161616;
@figma-vars--primitives-miscellaneousHuesPurple: #8B75F2;
@figma-vars--primitives-primaryBlueShades400: #293F79;
@figma-vars--primitives-componentTintsOceanicBlue: #E6FFFB;
@figma-vars--primitives-componentShadesOceanicBlue: #08979C;
@figma-vars--colorSemantic-generalDarkBlue: @figma-vars--primitives-primaryBlueShades200;
@figma-vars--primitives-componentShadesPurpleGray: #2A374D;
@figma-vars--colorSemantic-generalConsoleBg: @figma-vars--primitives-pGrays400;
@figma-vars--analytics-charts01: #56BE9F;
@figma-vars--analytics-charts02: #9269B8;
@figma-vars--analytics-charts03: #89C9E9;
@figma-vars--analytics-charts04: #586F9D;
@figma-vars--analytics-charts05: #9A8DD6;
@figma-vars--analytics-charts06: #69A5B8;
@figma-vars--analytics-charts07: #6E94F2;
@figma-vars--analytics-charts08: #C9A4CF;
@figma-vars--analytics-charts09: #8AC9E9;
@figma-vars--analytics-charts10: #B57DBE;
@figma-vars--analytics-charts11: #519898;
@figma-vars--analytics-charts12: #5C528D;
@figma-vars--analytics-charts13: #687695;
@figma-vars--analytics-charts14: @figma-vars--primitives-primaryBlueTints300;
@figma-vars--analytics-charts15: #9369B8;
@figma-vars--analytics-charts16: #C396CE;
@figma-vars--analytics-charts17: #D3DFFA;
@figma-vars--analytics-charts18: #D4D1FA;
@figma-vars--analytics-charts19: #EFC34F;
@figma-vars--analytics-charts20: #F2A25F;
@figma-vars--analytics-charts21: @figma-vars--primitives-primaryBlueShades900;
@figma-vars--analytics-charts22: @figma-vars--primitives-primaryBlueTints600;
@figma-vars--analytics-charts23: @figma-vars--primitives-primaryBlueTints100;
@figma-vars--analytics-charts24: @figma-vars--primitives-primaryBlueTints500;
@figma-vars--componentTokens-caseAlertStatusFillUnassigned: @figma-vars--primitives-componentTintsMustard;
@figma-vars--componentTokens-caseAlertStatusFillInProgress: @figma-vars--primitives-componentTintsLavender;
@figma-vars--componentTokens-caseAlertStatusFillOnHold: @figma-vars--primitives-componentTintsTealBlue;
@figma-vars--componentTokens-caseAlertStatusFillInReview: @figma-vars--primitives-componentTintsSeaGreen;
@figma-vars--componentTokens-caseAlertStatusFillEscalated: @figma-vars--primitives-componentTintsCharcoal;
@figma-vars--componentTokens-caseAlertStatusFillClosed: @figma-vars--primitives-componentTintsBrickRed;
@figma-vars--componentTokens-caseAlertStatusFillReOpened: @figma-vars--primitives-componentTintsTangerine;
@figma-vars--componentTokens-caseAlertStatusStrokesUnassigned: @figma-vars--primitives-componentShadesMustard;
@figma-vars--componentTokens-caseAlertStatusStrokesInProgress: @figma-vars--primitives-componentShadesLavender;
@figma-vars--componentTokens-caseAlertStatusStrokesOnHold: @figma-vars--primitives-componentShadesTealBlue;
@figma-vars--componentTokens-caseAlertStatusStrokesInReview: @figma-vars--primitives-componentShadesSeaGreen;
@figma-vars--componentTokens-caseAlertStatusStrokesEscalated: @figma-vars--primitives-componentShadesCharcoal;
@figma-vars--componentTokens-caseAlertStatusStrokesClosed: @figma-vars--primitives-componentShadesBrickRed;
@figma-vars--componentTokens-caseAlertStatusStrokesReOpened: @figma-vars--primitives-componentShadesTangerine;
@figma-vars--componentTokens-caseAlertStatusFillAssigned: @figma-vars--primitives-componentTintsCerulean;
@figma-vars--componentTokens-caseAlertStatusStrokesAssigned: @figma-vars--primitives-componentShadesCerulean;
@figma-vars--componentTokens-riskLevelsStrokeLow: @figma-vars--primitives-componentShadesLeafGreen;
@figma-vars--componentTokens-riskLevelsStrokeMedium: @figma-vars--primitives-componentShadesYellow;
@figma-vars--componentTokens-riskLevelsStrokeHigh: @figma-vars--primitives-componentShadesOrange;
@figma-vars--componentTokens-riskLevelsStrokeVeryLow: @figma-vars--primitives-componentShadesLimeGreen;
@figma-vars--componentTokens-riskLevelsStrokeVeryHigh: @figma-vars--primitives-componentShadesRed;
@figma-vars--componentTokens-riskLevelsFillVeryLow: @figma-vars--primitives-componentTintsLimeGreen;
@figma-vars--componentTokens-riskLevelsFillLow: @figma-vars--primitives-componentTintsLeafGreen;
@figma-vars--componentTokens-riskLevelsFillMedium: @figma-vars--primitives-componentTintsYellow;
@figma-vars--componentTokens-riskLevelsFillHigh: @figma-vars--primitives-componentTintsOrange;
@figma-vars--componentTokens-riskLevelsFillVeryHigh: @figma-vars--primitives-componentTintsRed;
@figma-vars--colorSemantic-stateDisabled: @figma-vars--primitives-pGrays700;
@figma-vars--colorSemantic-stateActive: @figma-vars--primitives-primaryBlueTints900;
@figma-vars--primitives-primaryBlueTints800: #2978FA;
@figma-vars--primitives-primaryBlueTints700: #4187FA;
@figma-vars--primitives-primaryBlueTints400: #87B3FB;
@figma-vars--primitives-primaryBlueTints200: #B8D2FE;
@figma-vars--primitives-primaryBlueShades800: #0F5FE0;
@figma-vars--primitives-primaryBlueShades600: #0C4AAE;
@figma-vars--primitives-primaryBlueShades500: #0A3F95;
@figma-vars--primitives-primaryBlueShades300: #072A64;
@figma-vars--primitives-primaryBlueShades100: #031532;
@figma-vars--primitives-primaryBlueShades50: #020A19;
@figma-vars--colorSemantic-generalPureWhite: @figma-vars--primitives-pGrays50;
@figma-vars--colorSemantic-highlightStroke: @figma-vars--primitives-primaryBlueTints100;
@figma-vars--colorSemantic-alertCritical: @figma-vars--primitives-alertsAlertRed;
@figma-vars--colorSemantic-alertWarning: @figma-vars--primitives-alertsAlertYellow;
@figma-vars--colorSemantic-alertSuccess: @figma-vars--primitives-alertsAlertGreen;
@figma-vars--componentTokens-tableWipHeader: #FFFFFF;
@figma-vars--componentTokens-tableWipSubHeader: #FFFFFF;
@figma-vars--componentTokens-tableWipCellWhite: #FFFFFF;
@figma-vars--componentTokens-tableWipCallGrey: #FFFFFF;
@figma-vars--colorSemantic-generalTextColor: @figma-vars--primitives-pGrays1300;
@figma-vars--colorSemantic-generalPureBlack: @figma-vars--primitives-pGrays1500;
@figma-vars--componentTokens-inputDescriptionText: @figma-vars--colorSemantic-gray800;
@figma-vars--componentTokens-inputFieldBorder: @figma-vars--colorSemantic-gray500;
@figma-vars--componentTokens-inputDisabledFill: @figma-vars--colorSemantic-gray200;
@figma-vars--componentTokens-inputPlaceholder: @figma-vars--colorSemantic-gray900;
@figma-vars--colorSemantic-iconDark: @figma-vars--primitives-pGrays1300;
@figma-vars--colorSemantic-iconWhite: @figma-vars--primitives-pGrays50;
@figma-vars--componentTokens-buttonWipPrimaryBlue: @figma-vars--colorSemantic-generalFlagrightBlue;
@figma-vars--componentTokens-buttonWipHoverPrimary: @figma-vars--colorSemantic-stateHover;
@figma-vars--componentTokens-buttonWipTertirayFill: @figma-vars--colorSemantic-gray600;
@figma-vars--componentTokens-buttonWipHoverSecondary: @figma-vars--colorSemantic-highlightFill;
@figma-vars--componentTokens-buttonWipDisabledFill: @figma-vars--colorSemantic-gray200;
@figma-vars--componentTokens-buttonWipDisabledText: @figma-vars--colorSemantic-gray900;
@figma-vars--colorSemantic-iconGray: @figma-vars--primitives-pGrays900;
@figma-vars--colorSemantic-gray50: @figma-vars--primitives-pGrays50;
@figma-vars--colorSemantic-gray100: @figma-vars--primitives-pGrays100;
@figma-vars--colorSemantic-gray300: @figma-vars--primitives-pGrays300;
@figma-vars--colorSemantic-gray400: @figma-vars--primitives-pGrays400;
@figma-vars--colorSemantic-gray700: @figma-vars--primitives-pGrays700;
@figma-vars--colorSemantic-gray1000: @figma-vars--primitives-pGrays1000;
@figma-vars--colorSemantic-gray1100: @figma-vars--primitives-pGrays1100;
@figma-vars--colorSemantic-gray1200: @figma-vars--primitives-pGrays1200;
@figma-vars--colorSemantic-gray1300: @figma-vars--primitives-pGrays1300;
@figma-vars--colorSemantic-gray1400: @figma-vars--primitives-pGrays1400;
@figma-vars--colorSemantic-gray1500: @figma-vars--primitives-pGrays1500;
@figma-vars--colorSemantic-generalPurple: @figma-vars--primitives-miscellaneousHuesPurple;
@figma-vars--colorSemantic-generalFlagrightNavyBlue: @figma-vars--primitives-primaryBlueShades400;
@figma-vars--componentTokens-ruleActionFlag: @figma-vars--primitives-componentShadesYellow;
@figma-vars--componentTokens-ruleActionSuspend: @figma-vars--primitives-componentShadesOrange;
@figma-vars--componentTokens-ruleActionBlock: @figma-vars--primitives-componentShadesRed;
@figma-vars--componentTokens-tagFillTag: @figma-vars--primitives-componentTintsOceanicBlue;
@figma-vars--componentTokens-tagStrokeTag: @figma-vars--primitives-componentShadesOceanicBlue;
@figma-vars--primitives-componentTintsPurpleGray: #DFE6F2;
@figma-vars--componentTokens-color: #FFFFFF;
@figma-vars--componentTokens-color2: #FFFFFF;
@figma-vars--componentTokens-color3: #FFFFFF;
@figma-vars--componentTokens-sideNavStateNone: @figma-vars--colorSemantic-generalDarkBlue;
@figma-vars--componentTokens-sideNavStateHover: @figma-vars--primitives-componentShadesPurpleGray;
@figma-vars--componentTokens-sideNavStateActive: @figma-vars--primitives-primaryBlueTints900;
@figma-vars--componentTokens-ruleActionAllow: @figma-vars--primitives-alertsAlertGreen;
@figma-vars--componentTokens-prioiryFillP1: @figma-vars--primitives-componentTintsRed;
@figma-vars--componentTokens-prioiryFillP2: @figma-vars--primitives-componentTintsOrange;
@figma-vars--componentTokens-prioiryFillP3: @figma-vars--primitives-componentTintsMustard;
@figma-vars--componentTokens-prioiryFillP4: @figma-vars--primitives-componentTintsCharcoal;
@figma-vars--componentTokens-prioiryStrokeP1: @figma-vars--primitives-componentShadesRed;
@figma-vars--componentTokens-prioiryStrokeP2: @figma-vars--primitives-componentShadesOrange;
@figma-vars--componentTokens-prioiryStrokeP3: @figma-vars--primitives-componentShadesMustard;
@figma-vars--componentTokens-prioiryStrokeP4: @figma-vars--primitives-componentShadesCharcoal;