@figma-vars--primitives-spacing5xs: 0px;
@figma-vars--primitives-spacing2xs: 6px;
@figma-vars--primitives-spacingS: 10px;
@figma-vars--primitives-spacingM: 12px;
@figma-vars--primitives-spacingL: 16px;
@figma-vars--primitives-spacing2xl: 24px;
@figma-vars--primitives-spacing4xl: 32px;
@figma-vars--primitives-spacing6xl: 40px;
@figma-vars--primitives-spacing16xl: 80px;
@figma-vars--primitives-borderRadius2xs: 0px;
@figma-vars--primitives-borderRadiusXs: 2px;
@figma-vars--primitives-borderRadiusS: 4px;
@figma-vars--primitives-borderRadiusM: 8px;
@figma-vars--primitives-borderRadiusPill: 999px;
@figma-vars--primitives-borderRadiusCircle: 50px;
@figma-vars--primitives-size2xs: 10px;
@figma-vars--primitives-borderStroke2xs: 1px;
@figma-vars--primitives-borderStrokeXs: 1.5px;
@figma-vars--primitives-borderStrokeS: 2px;
@figma-vars--primitives-sizeS: 16px;
@figma-vars--primitives-sizeM: 20px;
@figma-vars--primitives-sizeL: 24px;
@figma-vars--primitives-sizeXl: 28px;
@figma-vars--primitives-colorNeutral950: #0D0D0D;
@figma-vars--primitives-colorBrand500: #1169F9;
@figma-vars--primitives-colorGreen500: #008000;
@figma-vars--primitives-colorOrange500: #FFA500;
@figma-vars--primitives-colorRed600: #CC2323;
@figma-vars--primitives-colorNeutral400: #999999;
@figma-vars--primitives-colorBaseWhite: #FFFFFF;
@figma-vars--primitives-colorNeutral600: #666666;
@figma-vars--primitives-colorNeutral50: #F2F2F2;
@figma-vars--primitives-colorNeutral150: #D9D9D9;
@figma-vars--primitives-colorBaseBlack50: #00000080;
@figma-vars--primitives-colorBrand900: #131F40;
@figma-vars--primitives-colorBrand100: #E7F0FE;
@figma-vars--primitives-colorGreen100: #CCE6CC;
@figma-vars--primitives-colorOrange100: #FFEDCC;
@figma-vars--primitives-colorRed100: #FFD5D5;
@figma-vars--primitives-colorNeutral300: #B3B3B3;
@figma-vars--primitives-colorNeutral250: #BFBFBF;
@figma-vars--primitives-spacing3xs: 4px;
@figma-vars--primitives-spacingXs: 8px;
@figma-vars--primitives-spacing4xs: 2px;
@figma-vars--primitives-colorBrand600: #0E54C7;
@figma-vars--primitives-colorRed700: #991A1A;
@figma-vars--primitives-size3xs: 8px;
@figma-vars--primitives-size4xs: 6px;
@figma-vars--primitives-sizeXs: 12px;
@figma-vars--primitives-colorNeutral800: #333333;
@figma-vars--primitives-colorNeutral100: #E6E6E6;
@figma-vars--primitives-colorRed200: #FFABAB;
@figma-vars--primitives-colorYellow100: #FFF8D3;
@figma-vars--primitives-colorCyan100: #D1FCFC;
@figma-vars--primitives-colorOlive100: #E6E6CC;
@figma-vars--primitives-colorTeal100: #CDEAEA;
@figma-vars--primitives-colorNavy100: #D4D9E4;
@figma-vars--primitives-colorPurple100: #EBCCFF;
@figma-vars--primitives-colorMaroon100: #E6CCCC;
@figma-vars--primitives-colorBrand400: #4187FA;
@figma-vars--primitives-colorRed400: #FF5656;
@figma-vars--primitives-colorGreen400: #339933;
@figma-vars--primitives-colorYellow600: #CCB21A;
@figma-vars--primitives-colorCyan400: #45F1F1;
@figma-vars--primitives-colorOlive400: #999933;
@figma-vars--primitives-colorTeal400: #38A9A9;
@figma-vars--primitives-colorNavy400: #546594;
@figma-vars--primitives-colorPurple400: #B133FF;
@figma-vars--primitives-colorMaroon400: #993333;
@figma-vars--primitives-colorOrange400: #FFB733;
@figma-vars--primitives-colorNeutral200: #CCCCCC;
@figma-vars--primitives-colorGreen600: #006600;
@figma-vars--primitives-colorCyan600: #12BEBE;
@figma-vars--primitives-colorOlive600: #666600;
@figma-vars--primitives-colorTeal600: #057676;
@figma-vars--primitives-colorNavy600: #213261;
@figma-vars--primitives-colorPurple600: #7E00CC;
@figma-vars--primitives-colorMaroon600: #660000;
@figma-vars--primitives-colorOrange600: #CC8400;
@figma-vars--primitives-colorBrand800: #072A64;
@figma-vars--primitives-colorBrand200: #A0C3FD;
@figma-vars--primitives-colorBrand300: #70A5FB;
@figma-vars--primitives-colorBrand700: #0A3F95;
@figma-vars--primitives-colorRed300: #FF8080;
@figma-vars--primitives-colorRed500: #FF2C2C;
@figma-vars--primitives-colorRed800: #661212;
@figma-vars--primitives-colorRed900: #330909;
@figma-vars--primitives-colorGreen200: #99CC99;
@figma-vars--primitives-colorGreen300: #66B366;
@figma-vars--primitives-colorGreen700: #004D00;
@figma-vars--primitives-colorGreen800: #003300;
@figma-vars--primitives-colorGreen900: #001A00;
@figma-vars--primitives-colorYellow200: #FFF2A6;
@figma-vars--primitives-colorYellow300: #FFEB7A;
@figma-vars--primitives-colorYellow400: #FFE54D;
@figma-vars--primitives-colorYellow500: #FFDE21;
@figma-vars--primitives-colorYellow700: #998514;
@figma-vars--primitives-colorYellow800: #66590D;
@figma-vars--primitives-colorYellow900: #332C07;
@figma-vars--primitives-colorCyan200: #A2F8F8;
@figma-vars--primitives-colorCyan300: #74F5F5;
@figma-vars--primitives-colorCyan500: #17EEEE;
@figma-vars--primitives-colorCyan700: #0E8F8F;
@figma-vars--primitives-colorCyan800: #095F5F;
@figma-vars--primitives-colorCyan900: #053030;
@figma-vars--primitives-colorOlive200: #CCCC99;
@figma-vars--primitives-colorOlive300: #B3B366;
@figma-vars--primitives-colorOlive500: #808000;
@figma-vars--primitives-colorOlive700: #4D4D00;
@figma-vars--primitives-colorOlive800: #333300;
@figma-vars--primitives-colorOlive900: #1A1A00;
@figma-vars--primitives-colorTeal200: #9BD4D4;
@figma-vars--primitives-colorTeal300: #6ABFBF;
@figma-vars--primitives-colorTeal500: #069494;
@figma-vars--primitives-colorTeal700: #045959;
@figma-vars--primitives-colorTeal800: #023B3B;
@figma-vars--primitives-colorTeal900: #011E1E;
@figma-vars--primitives-colorNavy200: #A9B2C9;
@figma-vars--primitives-colorNavy300: #7F8CAF;
@figma-vars--primitives-colorNavy500: #293F79;
@figma-vars--primitives-colorNavy700: #192649;
@figma-vars--primitives-colorNavy800: #101930;
@figma-vars--primitives-colorNavy900: #080D18;
@figma-vars--primitives-colorPurple200: #D899FF;
@figma-vars--primitives-colorPurple300: #C466FF;
@figma-vars--primitives-colorPurple500: #9D00FF;
@figma-vars--primitives-colorPurple700: #5E0099;
@figma-vars--primitives-colorPurple800: #3F0066;
@figma-vars--primitives-colorPurple900: #1F0033;
@figma-vars--primitives-colorMaroon200: #CC9999;
@figma-vars--primitives-colorMaroon300: #B36666;
@figma-vars--primitives-colorMaroon500: #800000;
@figma-vars--primitives-colorMaroon700: #4D0000;
@figma-vars--primitives-colorMaroon800: #330000;
@figma-vars--primitives-colorMaroon900: #1A0000;
@figma-vars--primitives-colorOrange200: #FFDB99;
@figma-vars--primitives-colorOrange300: #FFC966;
@figma-vars--primitives-colorOrange700: #996300;
@figma-vars--primitives-colorOrange800: #664200;
@figma-vars--primitives-colorOrange900: #332100;
@figma-vars--primitives-colorNeutral350: #A6A6A6;
@figma-vars--primitives-colorNeutral450: #8C8C8C;
@figma-vars--primitives-colorNeutral500: #808080;
@figma-vars--primitives-colorNeutral550: #737373;
@figma-vars--primitives-colorNeutral650: #595959;
@figma-vars--primitives-colorNeutral700: #4D4D4D;
@figma-vars--primitives-colorNeutral750: #404040;
@figma-vars--primitives-colorNeutral850: #262626;
@figma-vars--primitives-colorNeutral900: #1A1A1A;
@figma-vars--primitives-colorBaseBlack: #000000;
@figma-vars--primitives-colorBaseWhite50: #FFFFFF80;
@figma-vars--primitives-spacingXl: 20px;
@figma-vars--primitives-spacing3xl: 28px;
@figma-vars--primitives-spacing5xl: 36px;
@figma-vars--primitives-spacing7xl: 44px;
@figma-vars--primitives-spacing8xl: 48px;
@figma-vars--primitives-spacing9xl: 52px;
@figma-vars--primitives-spacing10xl: 56px;
@figma-vars--primitives-spacing11xl: 60px;
@figma-vars--primitives-spacing12xl: 64px;
@figma-vars--primitives-spacing13xl: 68px;
@figma-vars--primitives-spacing14xl: 72px;
@figma-vars--primitives-spacing15xl: 76px;
@figma-vars--primitives-spacing17xl: 84px;
@figma-vars--primitives-spacing18xl: 88px;
@figma-vars--primitives-spacing19xl: 92px;
@figma-vars--primitives-spacing20xl: 96px;
@figma-vars--primitives-spacing21xl: 100px;
@figma-vars--primitives-borderRadiusL: 12px;
@figma-vars--primitives-typographyFontFamilyBody: Noto Sans;
@figma-vars--primitives-typographyFontWeightRegular: Regular;
@figma-vars--primitives-typographyFontWeightSemibold: Semibold;
@figma-vars--primitives-typographyFontWeightMedium: Medium;
@figma-vars--primitives-typographyFontWeightBold: Bold;
@figma-vars--primitives-breakpointXs: 1280px;
@figma-vars--primitives-breakpointS: 1440px;
@figma-vars--primitives-breakpointM: 1512px;
@figma-vars--primitives-breakpointL: 1728px;
@figma-vars--primitives-borderRadiusXl: 16px;
@figma-vars--primitives-borderStrokeL: 4px;
@figma-vars--primitives-borderStrokeXl: 8px;
@figma-vars--primitives-size2xl: 32px;
@figma-vars--primitives-typographyFontFamilyHeading: Noto Sans;
@figma-vars--primitives-typographyFontSizeXs: 10px;
@figma-vars--primitives-typographyFontSizeS: 12px;
@figma-vars--primitives-typographyFontSizeM: 14px;
@figma-vars--primitives-typographyFontSizeL: 16px;
@figma-vars--primitives-typographyFontSizeXl: 20px;
@figma-vars--primitives-typographyFontSize2xl: 24px;
@figma-vars--primitives-typographyFontSize3xl: 32px;
@figma-vars--primitives-typographyFontSize4xl: 40px;
@figma-vars--primitives-typographyFontLineHeightXs: 14px;
@figma-vars--primitives-typographyFontLineHeightS: 18px;
@figma-vars--primitives-typographyFontLineHeightM: 20px;
@figma-vars--primitives-typographyFontLineHeightL: 26px;
@figma-vars--primitives-typographyFontLineHeightXl: 30px;
@figma-vars--primitives-typographyFontLineHeight2xl: 34px;
@figma-vars--primitives-typographyFontLineHeight3xl: 42px;
@figma-vars--primitives-typographyFontLineHeight4xl: 54px;
@figma-vars--primitives-typographyFontSize5xl: 48px;
@figma-vars--primitives-typographyFontLineHeight5xl: 66px;
@figma-vars--tokens-spacingSpacing5xs: @figma-vars--primitives-spacing5xs;
@figma-vars--tokens-spacingSpacing2xs: @figma-vars--primitives-spacing2xs;
@figma-vars--tokens-spacingSpacingS: @figma-vars--primitives-spacingS;
@figma-vars--tokens-spacingSpacingM: @figma-vars--primitives-spacingM;
@figma-vars--tokens-spacingSpacingL: @figma-vars--primitives-spacingL;
@figma-vars--tokens-spacingSpacingXl: @figma-vars--primitives-spacing2xl;
@figma-vars--tokens-spacingSpacing2xl: @figma-vars--primitives-spacing4xl;
@figma-vars--tokens-spacingSpacing3xl: @figma-vars--primitives-spacing6xl;
@figma-vars--tokens-spacingSpacing4xl: @figma-vars--primitives-spacing16xl;
@figma-vars--tokens-borderRadiusBorderradius2xs: @figma-vars--primitives-borderRadius2xs;
@figma-vars--tokens-borderRadiusBorderradiusXs: @figma-vars--primitives-borderRadiusXs;
@figma-vars--tokens-borderRadiusBorderradiusS: @figma-vars--primitives-borderRadiusS;
@figma-vars--tokens-borderRadiusBorderradiusM: @figma-vars--primitives-borderRadiusM;
@figma-vars--tokens-borderRadiusBorderradiusPill: @figma-vars--primitives-borderRadiusPill;
@figma-vars--tokens-borderRadiusBorderradiusCircle: @figma-vars--primitives-borderRadiusCircle;
@figma-vars--tokens-sizeIconIconsize2xs: @figma-vars--primitives-size2xs;
@figma-vars--tokens-borderStrokeBorderstrokeS: @figma-vars--primitives-borderStroke2xs;
@figma-vars--tokens-borderStrokeBorderstrokeM: @figma-vars--primitives-borderStrokeXs;
@figma-vars--tokens-borderStrokeBorderstrokeL: @figma-vars--primitives-borderStrokeS;
@figma-vars--tokens-sizeIconIconsizeS: @figma-vars--primitives-sizeS;
@figma-vars--tokens-sizeIconIconsizeM: @figma-vars--primitives-sizeM;
@figma-vars--tokens-sizeIconIconsizeL: @figma-vars--primitives-sizeL;
@figma-vars--tokens-sizeIconIconsizeXl: @figma-vars--primitives-sizeXl;
@figma-vars--tokens-colorIconPrimary: @figma-vars--primitives-colorNeutral950;
@figma-vars--tokens-colorIconAction: @figma-vars--primitives-colorBrand500;
@figma-vars--tokens-colorIconSuccess: @figma-vars--primitives-colorGreen500;
@figma-vars--tokens-colorIconWarning: @figma-vars--primitives-colorOrange500;
@figma-vars--tokens-colorIconError: @figma-vars--primitives-colorRed600;
@figma-vars--tokens-colorIconDisabled: @figma-vars--primitives-colorNeutral400;
@figma-vars--tokens-colorIconInvert: @figma-vars--primitives-colorBaseWhite;
@figma-vars--tokens-colorTextAction: @figma-vars--primitives-colorBrand500;
@figma-vars--tokens-colorTextPrimary: @figma-vars--primitives-colorNeutral950;
@figma-vars--tokens-colorTextSecondary: @figma-vars--primitives-colorNeutral600;
@figma-vars--tokens-colorTextDisabled: @figma-vars--primitives-colorNeutral400;
@figma-vars--tokens-colorBackgroundPage: @figma-vars--primitives-colorNeutral50;
@figma-vars--tokens-colorButtonFillSecondaryDefault: @figma-vars--primitives-colorBaseWhite;
@figma-vars--tokens-colorBackgroundDisabled: @figma-vars--primitives-colorNeutral150;
@figma-vars--tokens-colorBackgroundOverlay: @figma-vars--primitives-colorBaseBlack50;
@figma-vars--tokens-colorBackgroundNavigation: @figma-vars--primitives-colorBrand900;
@figma-vars--tokens-colorBackgroundInformationHue: @figma-vars--primitives-colorBrand100;
@figma-vars--tokens-colorBackgroundSuccessHue: @figma-vars--primitives-colorGreen100;
@figma-vars--tokens-colorBackgroundWarning: @figma-vars--primitives-colorOrange100;
@figma-vars--tokens-colorBackgroundErrorHue: @figma-vars--primitives-colorRed100;
@figma-vars--tokens-colorIconSecondary: @figma-vars--primitives-colorNeutral600;
@figma-vars--tokens-colorStrokePrimary: @figma-vars--primitives-colorNeutral300;
@figma-vars--tokens-colorStrokeSecondary: @figma-vars--primitives-colorNeutral250;
@figma-vars--tokens-colorStrokeDisabled: @figma-vars--primitives-colorNeutral150;
@figma-vars--tokens-colorStrokeAction: @figma-vars--primitives-colorBrand500;
@figma-vars--tokens-colorStrokeSuccess: @figma-vars--primitives-colorGreen500;
@figma-vars--tokens-colorStrokeWarning: @figma-vars--primitives-colorOrange500;
@figma-vars--tokens-colorStrokeError: @figma-vars--primitives-colorRed600;
@figma-vars--tokens-colorTextInvert: @figma-vars--primitives-colorBaseWhite;
@figma-vars--tokens-colorButtonFillPrimaryDefault: @figma-vars--primitives-colorBrand500;
@figma-vars--tokens-spacingSpacing3xs: @figma-vars--primitives-spacing3xs;
@figma-vars--tokens-colorStrokeTertiary: @figma-vars--primitives-colorNeutral150;
@figma-vars--tokens-spacingSpacingXs: @figma-vars--primitives-spacingXs;
@figma-vars--tokens-spacingSpacing4xs: @figma-vars--primitives-spacing4xs;
@figma-vars--tokens-colorButtonFillDangerDefault: @figma-vars--primitives-colorRed600;
@figma-vars--tokens-colorButtonFillPrimaryHover: @figma-vars--primitives-colorBrand600;
@figma-vars--tokens-colorStrokeHover: @figma-vars--primitives-colorBrand600;
@figma-vars--tokens-colorButtonFillTertiaryHover: @figma-vars--primitives-colorBrand100;
@figma-vars--tokens-colorIconHoverPrimary: @figma-vars--primitives-colorBrand600;
@figma-vars--tokens-colorTextHover: @figma-vars--primitives-colorBrand600;
@figma-vars--tokens-colorIconErrorHue: @figma-vars--primitives-colorRed100;
@figma-vars--tokens-colorButtonFillDangerHover: @figma-vars--primitives-colorRed700;
@figma-vars--tokens-sizeIconIconsize3xs: @figma-vars--primitives-size3xs;
@figma-vars--tokens-sizeIconIconsize4xs: @figma-vars--primitives-size4xs;
@figma-vars--tokens-sizeIconIconsizeXs: @figma-vars--primitives-sizeXs;
@figma-vars--tokens-colorBackgroundSecondary: @figma-vars--primitives-colorNeutral300;
@figma-vars--tokens-colorBackgroundPrimary: @figma-vars--primitives-colorNeutral800;
@figma-vars--tokens-colorBackgroundTertiary: @figma-vars--primitives-colorNeutral100;
@figma-vars--tokens-colorButtonFillSecondaryHover: @figma-vars--primitives-colorBaseWhite;
@figma-vars--tokens-colorButtonFillTertiaryDefault: @figma-vars--primitives-colorBaseWhite;
@figma-vars--tokens-colorButtonStrokeSecondaryDefault: @figma-vars--primitives-colorBrand500;
@figma-vars--tokens-colorButtonStrokeSecondaryHover: @figma-vars--primitives-colorBrand600;
@figma-vars--tokens-colorButtonStrokeTertiaryDefault: @figma-vars--primitives-colorNeutral150;
@figma-vars--tokens-colorButtonFillPrimaryDisabled: @figma-vars--primitives-colorNeutral150;
@figma-vars--tokens-colorButtonFillSecondaryDisabled: @figma-vars--primitives-colorBaseWhite;
@figma-vars--tokens-colorButtonFillTertiaryDisabled: @figma-vars--primitives-colorNeutral150;
@figma-vars--tokens-colorButtonFillDangerDisabled: @figma-vars--primitives-colorRed200;
@figma-vars--tokens-colorButtonStrokeSecondaryDisabled: @figma-vars--primitives-colorNeutral150;
@figma-vars--tokens-colorLinkDefault: @figma-vars--primitives-colorBrand500;
@figma-vars--tokens-colorLinkDisabled: @figma-vars--primitives-colorNeutral400;
@figma-vars--tokens-colorLinkHover: @figma-vars--primitives-colorBrand600;
@figma-vars--tokens-colorTagBackgroundBrand: @figma-vars--primitives-colorBrand100;
@figma-vars--tokens-colorTagBackgroundGreen: @figma-vars--primitives-colorGreen100;
@figma-vars--tokens-colorTagBackgroundYellow: @figma-vars--primitives-colorYellow100;
@figma-vars--tokens-colorTagBackgroundCyan: @figma-vars--primitives-colorCyan100;
@figma-vars--tokens-colorTagBackgroundOlive: @figma-vars--primitives-colorOlive100;
@figma-vars--tokens-colorTagBackgroundTeal: @figma-vars--primitives-colorTeal100;
@figma-vars--tokens-colorTagBackgroundNavy: @figma-vars--primitives-colorNavy100;
@figma-vars--tokens-colorTagBackgroundPurple: @figma-vars--primitives-colorPurple100;
@figma-vars--tokens-colorTagBackgroundMaroon: @figma-vars--primitives-colorMaroon100;
@figma-vars--tokens-colorTagBackgroundOrange: @figma-vars--primitives-colorOrange100;
@figma-vars--tokens-colorTagBackgroundNeutral: @figma-vars--primitives-colorNeutral50;
@figma-vars--tokens-colorTagBackgroundRed: @figma-vars--primitives-colorRed100;
@figma-vars--tokens-colorTagBorderBrand: @figma-vars--primitives-colorBrand400;
@figma-vars--tokens-colorTagBorderRed: @figma-vars--primitives-colorRed400;
@figma-vars--tokens-colorTagBorderGreen: @figma-vars--primitives-colorGreen400;
@figma-vars--tokens-colorTagBorderYellow: @figma-vars--primitives-colorYellow600;
@figma-vars--tokens-colorTagBorderCyan: @figma-vars--primitives-colorCyan400;
@figma-vars--tokens-colorTagBorderOlive: @figma-vars--primitives-colorOlive400;
@figma-vars--tokens-colorTagBorderTeal: @figma-vars--primitives-colorTeal400;
@figma-vars--tokens-colorTagBorderNavy: @figma-vars--primitives-colorNavy400;
@figma-vars--tokens-colorTagBorderPurple: @figma-vars--primitives-colorPurple400;
@figma-vars--tokens-colorTagBorderMaroon: @figma-vars--primitives-colorMaroon400;
@figma-vars--tokens-colorTagBorderOrange: @figma-vars--primitives-colorOrange400;
@figma-vars--tokens-colorTagBorderNeutral: @figma-vars--primitives-colorNeutral200;
@figma-vars--tokens-colorTagTextBrand: @figma-vars--primitives-colorBrand500;
@figma-vars--tokens-colorTagTextRed: @figma-vars--primitives-colorRed600;
@figma-vars--tokens-colorTagTextGreen: @figma-vars--primitives-colorGreen600;
@figma-vars--tokens-colorTagTextYellow: @figma-vars--primitives-colorYellow600;
@figma-vars--tokens-colorTagTextCyan: @figma-vars--primitives-colorCyan600;
@figma-vars--tokens-colorTagTextOlive: @figma-vars--primitives-colorOlive600;
@figma-vars--tokens-colorTagTextTeal: @figma-vars--primitives-colorTeal600;
@figma-vars--tokens-colorTagTextNavy: @figma-vars--primitives-colorNavy600;
@figma-vars--tokens-colorTagTextPurple: @figma-vars--primitives-colorPurple600;
@figma-vars--tokens-colorTagTextMaroon: @figma-vars--primitives-colorMaroon600;
@figma-vars--tokens-colorTagTextOrange: @figma-vars--primitives-colorOrange600;
@figma-vars--tokens-colorTagTextNeutral: @figma-vars--primitives-colorNeutral600;
@figma-vars--tokens-colorBackgroundContainer: @figma-vars--primitives-colorBaseWhite;
@figma-vars--tokens-colorTextError: @figma-vars--primitives-colorRed600;
@figma-vars--tokens-colorTextSuccess: @figma-vars--primitives-colorGreen500;
@figma-vars--tokens-colorBackgroundSelection: @figma-vars--primitives-colorBrand500;
@figma-vars--tokens-colorBackgroundHover: @figma-vars--primitives-colorNeutral50;
@figma-vars--tokens-colorBackgroundColor: @figma-vars--primitives-colorNavy600;
@figma-vars--tokens-colorBackgroundNavigationSecondary: @figma-vars--primitives-colorBrand800;
@figma-vars--tokens-colorBackgroundNavigationPrimary: @figma-vars--primitives-colorBrand900;
@figma-vars--tokens-colorBackgroundNavigationSelected: @figma-vars--primitives-colorBrand600;
@figma-vars--tokens-colorBackgroundNavigationStroke: @figma-vars--primitives-colorBrand800;
