@select-z-index: 1200;
@fixed-container-z-index: 1100;
@tooltip-z-index: 1031;
@popover-z-index: 1030;
@demo-mode-notification-z-index: 999;
@drawer-z-index: 1000;
// header z-index shouldn't be greater than 1000 as it's the z-index of modal and drawer
@menu-z-index: 999;
@universal-search-z-index: 998;
@header-z-index: 996;
@sticky-z-index: 995;
@sticky-z-index-2: 994;
