@fixed-container-z-index: 1100;
@popover-z-index: 1030;
@demo-mode-notification-z-index: 999;
@drawer-z-index: 1000;
// header z-index shouldn't be greater than 1000 as it's the z-index of modal and drawer
@header-z-index: 997;
@sticky-z-index: 996;
@sticky-z-index-2: 995;
@menu-z-index: 994;
