@import '~antd/es/style/themes/default.less';
@import 'src/components/ui/colors.less';

.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  height: 100%;
}

.chartContainer {
  position: relative;
  flex: 1;
}

.chartContainer2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
