.pepStatus {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pepStatusItem {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.flexGrowHalf {
  flex-grow: 0.5;
}

.flexGrowQuater {
  flex-grow: 0.25;
}

.flexGrowTwo {
  flex-grow: 2;
}

.iconButton {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.iconButton > svg {
  cursor: pointer;
}

.pepform {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 0.5fr;
  gap: 1rem;
}
