@import 'src/components/ui/colors.less';

.root {
  flex: 1;
}

.details {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
}

.ongoingSanctions {
  .successIcon {
    width: 16px;
    height: 16px;
    color: @fr-colors-v2-alert-success;
  }
}
