@import 'src/components/ui/colors.less';

.tag {
  :global {
    .ant-tag {
      margin-bottom: 5px;
      color: @fr-colors-gray-2;
    }
  }
}

.otherLabel {
  color: @fr-colors-purpleGray;
}

.icon {
  display: flex;
  svg {
    width: 14px;
    height: 14px;
  }
}

.falsePositiveTag {
  color: #fff;
  display: flex;
  :global {
    .ant-tag {
      display: flex;
      gap: 8px;
      align-items: center;
      border-radius: 8px;
    }
  }
}
