.verticalDetailsItem {
  > div {
    display: flex;
    flex-direction: column;
  }
}

.commentBody {
  white-space: pre-line;
}

.tableRowLight {
  background-color: #fff;
}
.tableRowDark {
  background-color: #e1e1e1;
}
