@import 'src/components/ui/colors';
.stepsContainer {
  max-width: 900px;
}

.table {
  :global {
    table {
      width: 1100px !important;
      min-width: 100% !important;
      table-layout: fixed !important;
    }
  }
}

.rowDark {
  :global {
    .ant-table-cell-fix-right {
      background-color: @fr-colors-brandBlueTint !important;
    }
  }
}

.tableRowLight {
  &,
  &:hover {
    > td {
      background-color: #fff !important;
    }
  }
}

.tableRowDark {
  background-color: fade(@fr-colors-brandBlueTint, 45%) !important;
}
