@import 'src/components/ui/colors';

.root {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.icon {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 8px;

  &.ruleAction-ALLOW {
    background-color: @fr-colors-brandBlue;
  }
  &.ruleAction-SUSPEND {
    background-color: @fr-colors-orange;
  }
  &.ruleAction-BLOCK {
    background-color: @fr-colors-red;
  }
  &.ruleAction-WHITELIST {
    background-color: @fr-colors-skyBlue;
  }
  &.ruleAction-FLAG {
    background-color: @fr-colors-purpleGrayTint;
  }
}
