.root {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  height: 14px;
  color: black;
  cursor: pointer;
}

.form {
  display: grid;
  align-items: end;
  gap: 12px;
  grid-template-columns: 0.5fr 1fr 3fr 0.5fr;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.addButton {
  width: 72px;
  align-self: start;
}

.pepStatus {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pepStatusItem {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
