@import 'src/components/ui/colors.less';

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
}

.items {
  margin-bottom: 2px;
}

.col {
  width: 302px;
}

.all {
  width: 604px;
}
