@import 'src/components/ui/colors.less';

.root {
  flex: 1;
}

.details {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
}

.ongoingSanctions {
  display: flex;
  gap: 4px;
  align-items: center;

  .successIcon {
    width: 16px;
    height: 16px;
    color: @fr-colors-v2-alert-success;
  }
}

.pepStatus {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
