.numberInput {
  width: 100%;
}

.drawerBody {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.horizontalContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.headerContainer {
  display: flex;
  align-items: center;
}
