.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pieContainer {
  position: relative;
  overflow: hidden;
}

.pieWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
