.root {
  padding: 1rem;
  background: white;
  border-radius: 4px;
}

.status {
  display: flex;
  gap: 8px;
  align-items: center;
}

.dayRangeRoot {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  columns: 1fr 1fr;
}

.dayRangeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dayRangeInputContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
