@import 'src/components/ui/colors.less';

.root {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: @fr-colors-orange;
  border-radius: 50%;

  &.isActive {
    background: @fr-colors-leafGreen;
  }
}
