@import 'src/components/ui/colors';

#textarea(@rules) {
  &.bareInput,
  > textarea {
    @rules();
  }
}

.root {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  position: relative;
  flex: 1;

  &::after {
    font-size: @figma-vars--primitives-typographyFontSizeM;
    color: @figma-vars--tokens-colorTextSecondary;
    position: absolute;
    top: -@figma-vars--tokens-spacingSpacing3xs;
    right: 0;
    transform: translateY(-100%);
    line-height: @figma-vars--primitives-typographyFontLineHeightS;
  }

  #textarea({
    font-size: @figma-vars--primitives-typographyFontSizeM;
    line-height: @figma-vars--primitives-typographyFontLineHeightM;
    outline: none !important;
    box-shadow: none !important;
    transition: none !important;
    border-radius: @figma-vars--tokens-borderRadiusBorderradiusM;
    padding: @figma-vars--tokens-spacingSpacingM;

    &, &:hover {
      border: 1px solid @figma-vars--tokens-colorStrokeTertiary;
    }

    &::placeholder {
      color: @figma-vars--tokens-colorTextSecondary;
    }

    &:disabled {
      pointer-events: none;
      border-color: @figma-vars--tokens-colorStrokeTertiary;
      background: @figma-vars--tokens-colorBackgroundDisabled;
      color: @figma-vars--tokens-colorTextSecondary;
    }
  });

  &:not(.isError) {
    &:not(:disabled) {
      #textarea({
        &:focus {
          border-color: @figma-vars--tokens-colorStrokeAction;
        }
      });
    }
  }

  &.isError {
    #textarea({
      &:not(:disabled) {
        &,
        &:hover,
        &:focus {
          border-color: @figma-vars--tokens-colorStrokeError;
        }
      }
    });
  }

  &.isSuccess {
    #textarea({
      &:not(:disabled) {
        &,
        &:hover,
        &:focus {
          border-color: @figma-vars--tokens-colorStrokeSuccess;
        }
      }
    });
  }
}

.description {
  font-size: @figma-vars--primitives-typographyFontSizeS;
  color: @figma-vars--tokens-colorTextSecondary;
  line-height: @figma-vars--primitives-typographyFontLineHeightS;
}
