@import 'src/components/ui/colors';
@import 'src/components/ui/animation';

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding-right: 2px;
}
