@import 'src/components/ui/colors.less';

.collapseIcon {
  display: flex;
  align-items: center;
  width: 20px;
  color: @fr-colors-brandBlue;
  transition: transform 300ms;
  transform: rotate(180deg);

  &.isCollapsed {
    transform: none;
  }
}
