.pre {
  color: black;
  background: white;
  border-radius: 2px;
}

.KRSformula {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.KRSheader {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.KRSsubheader {
  color: rgba(0, 0, 0, 0.45);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.header {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.examplecard {
  position: absolute;
  max-width: 350px;
  margin: 0;
  padding: 0;
}
