.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}
