@import '../../../components/ui/colors.less';

.user {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 4px 12px;
  align-items: center;
  border-bottom: none !important;

  > *:nth-child(1) {
    grid-row: span 2;
  }

  > *:nth-child(3) {
    grid-column-start: 2;
  }
}

.name {
  color: @fr-colors-brandBlue;
  font-weight: 600 !important;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
  position: relative;
  bottom: 2px;
}

.id {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
