@import 'src/components/ui/colors.less';

.root {
  display: flex;
}

.body {
  border: 1px solid gray;
  background: lightgray;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 10px;
  line-height: 12px;

  &.caseStatus-OPEN {
    border-color: @fr-colors-v2-risk-level-base-medium;
    background: @fr-colors-v2-risk-level-bg-medium;
  }

  &.caseStatus-CLOSED {
    border-color: @fr-colors-v2-risk-level-base-low;
    background: @fr-colors-v2-risk-level-bg-low;
  }

  &.caseStatus-REOPENED {
    border-color: @fr-colors-v2-risk-level-base-high;
    background: @fr-colors-v2-risk-level-bg-high;
  }

  &.caseStatus-ESCALATED {
    border-color: @fr-colors-purpleGray;
    background: @fr-colors-purpleGrayTint;
  }

  &.caseStatus-IN_REVIEW {
    border-color: @fr-colors-v2-risk-level-base-very-low;
    background: @fr-colors-v2-risk-level-bg-very-low;
  }

  &.caseStatus-ON_HOLD {
    border-color: @fr-colors-skyBlueShade;
    background: @fr-colors-skyBlueTint;
  }

  &.caseStatus-IN_PROGRESS {
    border-color: @fr-colors-purple;
    background: @fr-colors-purpleTint;
  }
}
