@import 'src/components/ui/colors';

.icon {
  color: @fr-colors-brandBlue;
}

.root {
  background: @fr-colors-brandBlueTint;
  color: @fr-colors-brandBlue;
  border-color: @fr-colors-brandBlueTint;
}
