.reasonsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.textInput {
  flex: 1;
}

.removeButton {
  color: #000 !important;
}
.inputContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-grow: 100%;
  gap: 8px;
}
.reason {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
