@import 'src/components/ui/colors';

.root {
  display: grid;
  gap: 16px;
  grid-template-columns: 62px max-content;
  align-items: center;
}

.time {
  font-weight: 600;
}

.logItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logIcon {
  width: 36px;
  height: 36px;
  background-color: @fr-colors-brandBlueTint;
  border-radius: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
