@import '~antd/dist/antd.less';
@import '../../../components/ui/colors';
.root {
  :global {
    .ant-tabs-tab.ant-tabs-tab-disabled {
      background-color: transparent !important;
    }
  }

  &.noChildren {
    :global {
      .ant-tabs-content-holder {
        display: none !important;
      }
    }
  }

  &.tab_span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.tab_icon {
    margin-right: 5px;
  }
  &.icon {
    width: 16px;
    line-height: 16px;
    margin-right: 4px;
  }
}
