@import 'src/components/ui/colors';

.root {
  flex: 1;
  &.line {
    :global {
      .ant-tabs-tab.ant-tabs-tab-disabled {
        background-color: transparent !important;
      }
    }
  }
}

.tab_span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.tab_icon {
  margin-right: 5px;
}

.icon {
  width: 16px;
  line-height: 16px;
  margin-right: 4px;
}

.badge {
  position: absolute;
  top: 0;
  right: -12px;
  width: 8px;
  height: 8px;
  background: @fr-colors-tabsBadgeColor;
  border-radius: 50%;
}
