@import 'src/components/ui/colors.less';

.fields {
  display: grid;
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 12px;
  gap: 8px;
}

.time {
  position: relative;
  margin: 12px;
}

.tag {
  position: relative;
  margin: 12px;
}

.tags {
  max-height: 300px;
  overflow-y: auto;
}
