@import 'src/components/ui/colors.less';

.fields {
  display: grid;
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 12px;
  gap: 8px;
}

.time {
  position: relative;
  margin: 15px;
}

.tag {
  margin: 15px;
  position: relative;
}
