@import 'src/components/ui/colors';
@import 'src/components/ui/animation';
@import 'src/components/ui/z-indexes';

.root {
  display: flex;
  gap: 8px;
  align-items: center;
}

.separator {
  color: @fr-colors-v2-gray-3;
  width: 16px;
  height: 16px;
}
