@import 'src/components/ui/colors';

.root {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  overflow-y: auto;
  flex: 1;
}

.scrollBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.item {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;

  &.isActive {
    background-color: @fr-colors-v2-highlight-flagrightBlue;
  }
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
