.footer {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  padding: 16px;
  width: 100%;
  background-color: white;
  left: 0;
  align-items: flex-start;
}

.footerButtons {
  display: flex;
  gap: 16px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
