@import 'src/components/ui/figma-vars';
@import 'src/components/ui/colors';

.icon {
  color: @figma-vars--tokens-colorTagBorderYellow;
}

.root {
  background: @figma-vars--tokens-colorTagBackgroundYellow;
  color: @fr-colors-v2-gray-10;
  border-color: @figma-vars--tokens-colorTagBorderYellow;
}
