.header {
  display: 'flex';
  align-items: 'center';

  button {
    height: 32px;
  }
}

.tagsContainer {
  display: 'flex';
  flex-wrap: 'wrap';
  gap: 8;
}

.timeWindowInputContainer {
  display: 'grid';
  grid-template-columns: '1fr 1fr';
  gap: 5;
}
