@import 'src/components/ui/colors';

@shaded-opacity: 0.6;
@shaded-background: @figma-vars--primitives-colorNeutral150;
@highlight-background: @figma-vars--primitives-colorBrand100;
@highlight-outline-color: @figma-vars--primitives-colorNeutral700;
@highlight-outline-width: 1px;
