.root {
  display: flex;
  justify-content: space-between;
  padding-right: 140px;
}

.typeColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reasonType {
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.reasonsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkboxDiv {
  width: fit-content;
}
