@import 'src/components/ui/colors.less';

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  button {
    width: 135px;
  }
}

.root {
  background-color: @fr-colors-v2-card-background;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.riskLevelInfo {
  display: flex;
  gap: 16px;
  align-items: center;
}

.parameters {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.icon {
  width: 16px;
  height: 20px;
  cursor: pointer;
}
.modal {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.override {
  display: flex;
  flex-direction: row;
}
