@import 'src/components/ui/colors.less';

.root {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 2rem;
  justify-content: center;
  color: fade(@fr-colors-purpleGray, 75%);
  flex: 1;
}
