@import 'src/components/ui/colors';
@import 'src/components/ui/z-indexes';

.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: @fr-global-bg-color;
}

.footer {
  padding: 8px 0;
  position: sticky;
  bottom: 0;
  background: @fr-global-bg-color;
  z-index: @sticky-z-index;
}

.footerButtons {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}

.duplicateButton {
  display: flex;
  gap: 4px;
}
