@import 'src/components/ui/colors';
@import 'src/components/ui/animation';
@import 'src/components/charts/shared/highlighting';

.tick {
  cursor: default;
  white-space: normal;
  overflow: visible;
  word-break: break-word;
  overflow-wrap: anywhere;
  hyphens: auto;
  text-align: center;
}
