@import 'src/components/ui/colors';

.root {
  display: grid;
  grid-template-columns: auto min-content;
  gap: 40px;
  align-items: center;
}

.inputs {
  display: grid;
  grid-template-columns: 84px min-content 84px;
  gap: 8px;
  align-items: center;
}
