@import 'src/components/ui/colors.less';

.root {
  display: flex;
  gap: 8px;
  align-items: center;
}

.icon {
  display: flex;
  width: 14px;
  height: 14px;
  color: @fr-colors-purpleGray;

  .transactionState-DECLINED {
    color: @fr-colors-red;
  }
}
