:root {
  .root {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  // todo: migration: fix this hack, need to fix ordering in css`
  .head {
    padding: 16px 24px;
    background: none; // todo: migration: fix this
  }

  .body {
    flex: 1;
    padding: 24px;
  }

  .title {
    margin-bottom: 0;
    color: white;
  }

  .description {
    margin-top: 16px;
    margin-bottom: 0;
    color: white;
  }
}
