:root {
  // todo: migration: fix this hack, need to fix ordering in css`
  .head {
    padding: 16px 24px;
    background: white; // todo: migration: fix this
  }

  .body {
    padding: 24px;
  }

  .title {
    margin-bottom: 0;
  }

  .description {
    margin-top: 16px;
    margin-bottom: 0;
  }
}
