.copilotWrapper {
  display: flex;
}

.copilotShowSourcesButton,
.copilotAskButton,
.copilotFormatButton {
  padding-left: 0;
  padding-right: 0;
  &:focus {
    outline: 0 !important;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4px 0;
}

.copilotSourcesWrapper {
  overflow-x: auto;
  overflow-y: auto;
}

.narrativeMode {
  display: flex;
  align-items: center;
  gap: 8px;
}
