.copilotWrapper {
  display: flex;
}

.copilotButton,
.copilotShowSourcesButton {
  padding-left: 0;
  padding-right: 0;
  &:focus {
    outline: 0 !important;
  }
}

.copilotShowSourcesButton {
  margin-left: auto;
}

.copilotPrompts {
  display: flex;
  margin-top: 10px;
  gap: 5px;
  flex-direction: column;
  margin-bottom: 10px;
}
