.tagIcon {
  margin-right: 4px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  flex-direction: column;
}

.falsePositiveTag span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  flex-direction: row;
}

.confirmationModal {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
