.header {
  flex-direction: row !important;
  display: flex;
}

.link {
  display: flex;
  align-items: center;
}

.openNewTab {
  margin-left: 5px;
  height: 18px;
  width: 18px;
}

.title {
  flex-grow: inherit;
}

.divider {
  border-top: 1px solid #eee;
  margin-left: 0;
  margin-right: 0;
}

.wrapper {
  padding: 10px;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
