@import 'src/components/ui/colors.less';

.overview {
  padding: 1rem;
  background-color: @fr-colors-v2-unknown-1;
  height: fit-content;
  margin-bottom: 2rem;
}

.overview span {
  font-weight: 600;
  font-size: 14px;
}
