@import 'src/components/ui/colors';
@import 'src/components/ui/z-indexes';

.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.description {
  font-size: 14px;
  color: @fr-colors-v2-gray-6;
}

.skipGap {
  gap: 0 !important;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer {
  padding: 8px 0;
  position: sticky;
  bottom: 0;
  background: @fr-global-bg-color;
  z-index: @sticky-z-index;
}

.footerButtons {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}
.loadingCard {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
}

.graphs {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
}
