@import 'src/components/ui/colors.less';

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  flex: 1;
}

.ttl {
  display: grid;
  gap: 16px;
  grid-template-columns: 3fr 2fr;
}
