@import 'src/components/ui/colors.less';

.root {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 8px;
  background: linear-gradient(
    94.14deg,
    @fr-colors-v2-unknown-12 3.6%,
    @fr-colors-v2-unknown-13 100%
  );
  border-radius: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.extraControls {
  display: flex;
  gap: 16px;
  align-items: center;
}

.title {
  display: flex;
  gap: 8px;
  align-items: center;
}
