@import 'src/components/ui/colors';

.root {
  display: flex;
  flex-direction: row;
  height: 24px;
}

.title {
  padding: 2px;
  background: red;
  color: white;
  width: 108px;
  text-align: center;
  font-size: 12px;
  font-weight: 400px;
}

.children {
  padding: 1px;
  display: flex;
  justify-content: center;
  border: 1px solid red;
}
