@import 'src/components/ui/colors';

.title {
  background: red;
  color: white;
  padding: 0 4px;
  font-size: 10px;
}

.children {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  padding: 5px;
}
