@import 'src/components/ui/colors.less';

.fields {
  display: block;
}

.details {
  padding: 16px;
}

.icon {
  height: 22px;
  width: 19px;
  margin-right: 5px;
  margin-top: 7px;
}

.items {
  font-family: 'Noto Sans';
  font-weight: 400;
  size: 14px;
  line-height: 24px;
}
