@import 'src/components/ui/colors';

.auth0-lock-header-logo {
  max-width: 180px !important;
  margin: 0 !important;
}

.auth0-lock-name {
  display: none !important;
}

.auth0-lock-header {
  display: none !important;
}

.auth0-lock-close-button {
  display: none !important;
}

.auth0-lock-overlay {
  //background: @fr-colors-v2-highlight-flagrightBlue !important;
}

.auth0-lock-widget {
  box-shadow: none !important;
}
