@import 'src/components/ui/colors';
@import 'src/components/ui/animation';

.groupLabel {
  font-weight: 600;
  font-size: @figma-vars--primitives-typographyFontSizeS;
  color: @figma-vars--tokens-colorTextDisabled;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  &.isSelected {
    .optionCheckIcon {
      opacity: 1;
    }
  }

  .optionIcon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  .optionLabel {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .optionCheckIcon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    color: @figma-vars--tokens-colorIconAction;
    pointer-events: none;
    opacity: 0;
    transition: opacity @default-animation-speed @default-animation-function;
  }
}
