.tooltipRoot {
  padding: 0.5rem;

  .tooltipParentContainer {
    display: flex;
    flex-direction: column;

    .tooltipContainer {
      display: flex;
      flex-direction: row;

      .tooltipColor {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        margin-right: 0.5rem;
      }

      p {
        margin-left: 0.5rem;
        font-size: 0.75rem;
        margin-bottom: 0;
      }
    }
  }
}

&:global {
  .g2-tooltip {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
