.statusButton {
  border: none !important;
  justify-content: flex-start;
}

.option {
  padding: 0 !important;
}

.optionButton {
  border: none;
  justify-content: flex-start;
  align-items: center;
  padding: 0 8px;
  gap: 8px;
}
