@import '~antd/es/style/themes/default.less';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.status {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.option {
  padding: 0 !important;
}

.optionButton {
  border: none;
  justify-content: flex-start;
  align-items: center;
  padding: 0 8px;
  gap: 8px;
}

.icon {
  height: 15px;
}
