.tab {
  :global {
    .ant-tabs {
      color: #000000d9 !important;
    }

    .ant-tabs-tab {
      color: #000000d9 !important;
    }

    .ant-tabs-tab-btn {
      color: #1169f9 !important;
    }

    .ant-tabs-top > .ant-tabs-nav::before {
      border-bottom: 0 !important;
    }

    .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar {
      background: white;
      border: 1px solid rgba(17, 105, 249, 0.85);
    }
  }
}
