@import 'src/components/ui/colors';

.text {
  color: @fr-colors-brandBlue !important;
  cursor: pointer;
}

.container {
  padding: 1rem;
  width: 100%;
}

.flexDisplay {
  display: flex;
}

.childContainer {
  margin-top: 2rem;
  width: 50%;
}

.riskLevelLogicItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
