@import 'src/components/ui/colors.less';

.root {
  &.source-EXTERNAL {
    border-color: @fr-colors-v2-priority-4-bg;
    background-color: @fr-colors-v2-highlight-flagrightBlue;
    color: @fr-colors-v2-gray-10;
  }
}
