// Reference: https://www.notion.so/flagright/Color-Palette-b9fd3936b526416785220e5c0c1016f7
@fr-colors-navyBlue: #293f7a; // Base,Primary
@fr-colors-brandBlue: #1169f9; // Base,Primary
@fr-colors-turquoise: #87e8de; // Accent,Base,Primary
@fr-colors-purpleGray: #7284a3; // Base,Primary
@fr-colors-leafGreen: #52c41a; // Graphs,Primary
@fr-colors-red: #ff4d4f; // Graphs,Primary
@fr-colors-orange: #f6a429; // Graphs,Primary
@fr-colors-purple: #8b75f2; // Graphs,Primary
@fr-colors-yellow: #f5e25a; // Graphs,Primary
@fr-colors-skyBlue: #78cbeb; // Graphs,Primary
@fr-colors-limeGreen: #bff35a; // Graphs,Primary

@fr-colors-navyBlueTint: #dee6fa; // Tint
@fr-colors-brandBlueTint: #ebf2ff; // Tint
@fr-colors-turquoiseTint: #ebfcfb; // Tint
@fr-colors-purpleGrayTint: #dfe6f2; // Tint
@fr-colors-leafGreenTint: #f1ffeb; // Tint
@fr-colors-redTint: #ffe5e6; // Tint
@fr-colors-orangeTint: #fff4e5; // Tint
@fr-colors-purpleTint: #eeebfa; // Tint
@fr-colors-yellowTint: #fcf9e3; // Tint
@fr-colors-skyBlueTint: #e6f8ff; // Tint
@fr-colors-limeGreenTint: #f4fce3; // Tint

@fr-colors-navyBlueShade: #131f40; // Shade
@fr-colors-brandBlueShade: #063075; // Shade
@fr-colors-turquoiseShade: #1ab0a1; // Shade
@fr-colors-purpleGrayShade: #2a374d; // Shade
@fr-colors-leafGreenShade: #357317; // Shade
@fr-colors-redShade: #992628; // Shade
@fr-colors-orangeShade: #a66d17; // Shade
@fr-colors-purpleShade: #986abb; // Shade
@fr-colors-yellowShade: #b2a542; // Shade
@fr-colors-skyBlueShade: #267999; // Shade
@fr-colors-limeGreenShade: #86a745; // Shade

@fr-colors-infoColor: @fr-colors-skyBlue; // info state color
@fr-colors-successColor: @fr-colors-leafGreen; // success state color
@fr-colors-warningColor: @fr-colors-orange; // warning state color
@fr-colors-errorColor: @fr-colors-red;

@fr-colors-Purple-NavyBlue: linear-gradient(180deg, #3623C6 0%, #5C0DC1 37.23%, #130666 82.38%);
