@import 'src/components/ui/colors.less';

.root {
  &.caseStatus-OPEN {
    border-color: @fr-colors-v2-status-open-base;
    background: @fr-colors-v2-status-open-bg;
  }

  &.caseStatus-REOPENED {
    border-color: @fr-colors-v2-status-reopened-base;
    background: @fr-colors-v2-status-reopened-bg;
  }

  &.caseStatus-CLOSED {
    border-color: @fr-colors-v2-status-closed-base;
    background: @fr-colors-v2-status-closed-bg;
  }

  &.caseStatus-ESCALATED {
    border-color: @fr-colors-v2-status-escalated-base;
    background: @fr-colors-v2-status-escalated-bg;
  }

  &.caseStatus-IN_REVIEW {
    border-color: @fr-colors-v2-status-in-review-base;
    background: @fr-colors-v2-status-in-review-bg;
  }

  &.caseStatus-ON_HOLD {
    border-color: @fr-colors-v2-status-on-hold-base;
    background: @fr-colors-v2-status-on-hold-bg;
  }

  &.caseStatus-IN_PROGRESS {
    border-color: @fr-colors-v2-status-in-progress-base;
    background: @fr-colors-v2-status-in-progress-bg;
  }
}
